[2021-02-15 07:47] Lakhankumawat opened #1 "Add Algorithms"
**Add new algorithms , Newcomers are always welcomed with their ideas.**
Do like to contribute and make it a helpful repository for beginners in **CPP**

[2021-03-26 10:23] Lakhankumawat opened #4 "Organise Algorithms"
Organise Algorithms in [`Day-100(Algorithms)`](https://github.com/Lakhankumawat/LearnCPP/tree/main/Day-100(Algorithms)) section according to their types .

- Like All the algorithms which are there in Dynamic Programming should be in DP folder.
- All With Greedy approach in G-Greedy folder.
- And with Graphs in their respective folders.

- Add time complexities , space complexities to algorithms .

[2021-04-01 04:49] Lakhankumawat opened #6 "📄README"
## Aim
- To add readme to all folders
## What to include in readme
- Everything that is so far written in folder for e.g if there is [Algorithms](https://github.com/Lakhankumawat/LearnCPP/tree/main/Day-100(Algorithms)) folder then add details to each algorithms .
- Details can be added in form such that link to some documentation of a particular algorithm or some kind of useful information below t

[2021-06-03 19:17] puneetkaur2929 commented on #1
hey @Lakhankumawat
Is this issue still open ? if yes , I wish to contribute.

[2021-06-04 06:09] Lakhankumawat commented on #1
Yes @puneetkaur2929  this issue is opened for all and always , you can go ahead and contribute .

[2021-10-01 09:49] Meaha7 commented on #1
Hi,
I wish to contribute for the hacktoberfest.

[2021-10-01 10:02] aditya-gaikwad commented on #1
I want to contribute, kindly add me to this issue.

[2021-10-01 10:18] Lakhankumawat commented on #1
@aditya-gaikwad  there are multiple algorithms you can select one of your choice raise an issue  and start contributing .

1. Take an algorithm which is not present in repo , create a issue - one of maintainer will review it soon .
2. Create a pull request .

Happy Coding !!

[2021-10-01 10:45] Lakhankumawat opened #12 "Pull Request and Issue Templates .🎯"
If you are experienced in making PR and ISSUE Templates then feel free to grab this issue

Challanges
- Make More Beginner Friendly Issue Template of Issue Form
- Make More Beginner Friendly Pull Request Template

Refactor Contributing.md you and add fields for mentors , contributors

You can take help from [Here](https://github.com/girlscript/winter-of-contributing)

[2021-10-01 11:04] hrishik18 commented on #4
I am contribution from hackoberfest2021
Please assign me this!!

[2021-10-01 12:11] aditya-gaikwad commented on #1
If my issue contains a problem of leetcode, will it be fine?

[2021-10-01 12:31] aditya-gaikwad opened #15 "Two Sum Leetcode"
Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

Example 1:

Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Output: Because nums[0] + nums[1] == 9, we return [0, 1].

Solu

[2021-10-01 12:32] #15 closed

[2021-10-01 12:32] aditya-gaikwad commented on #15
.

[2021-10-01 12:38] Lakhankumawat commented on #1
@aditya-gaikwad  Yeah it is fine . But there should be understandable and clearly written code with problem statement link.

[2021-10-01 12:45] Lakhankumawat commented on #15
No not like this , in level 1 in cpp file itself you can include the details for the problem statement along with the link

[2021-10-01 14:15] aditya-gaikwad commented on #15
Sorry, but I am not able to get the location of the folder you are talking about

[2021-10-01 14:38] aditya-gaikwad commented on #15
Got it. Thanks!

[2021-10-02 06:12] apeksha235 commented on #6
Can I work on this?

[2021-10-02 06:15] Lakhankumawat commented on #6
Sure go ahead

[2021-10-02 06:17] Lakhankumawat commented on #4
This issue is open for public  - you can go ahead

[2021-10-02 16:49] dig9074vijay opened #21 "Floyd-Warshall Algorithm"
**Programming Paradigm** : Dynamic Programming

**Floyd–Warshall algorithm** is used for finding shortest paths between every pair of vertices in a directed weighted graph with positive or negative edge weights (but with no negative cycles).

[2021-10-02 16:50] dig9074vijay commented on #21
I'd like to add this algorithm.

[2021-10-03 04:23] Lakhankumawat commented on #21
@dig9074vijay 😄 there is implementation of [Floyd](https://github.com/Lakhankumawat/LearnCPP/tree/main/Day-100(Algorithms)/G-Graphs/S-SingleSourceShortestPath) but it is using vectors and O(n³) time complexity , if you have different approach i mean different data structure **OR** any more efficient way then you can go ahead .

Thanks for your interest ,
Happy Coding !!

[2021-10-03 04:25] Lakhankumawat commented on #21
Also please read this section , it will be helpful [Algorithms](https://github.com/Lakhankumawat/LearnCPP#algorithms)

[2021-12-06 14:49] ujjwalban commented on #1
Can we still contribute?

[2021-12-06 15:09] Lakhankumawat commented on #1
yes you can

[2021-12-08 05:53] ujjwalban opened #24 "Lowercase_To_Uppercase"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-08 06:27] ujjwalban commented on #1
bhaiya i am not able to create branch

[2021-12-08 07:19] ujjwalban commented on #1
I have created an issue for new algorithm

[2021-12-08 16:53] Lakhankumawat commented on #24
Okay its fine but in these fields mention the issue type here like

and similar like these

[2021-12-08 16:55] Lakhankumawat commented on #24
Describe your issue then it will be assigned to you then you can create a pull request mention this issue number there

[2021-12-08 17:22] ujjwalban commented on #24
done

[2021-12-08 17:38] Lakhankumawat commented on #24
What is the name of algorithm ?

[2021-12-08 17:39] Lakhankumawat commented on #24
As far I think there is no specific algorithm for this , it is just a problem statement bro , you can add a problem statement of level 1 regarding this I think

[2021-12-08 17:41] Lakhankumawat commented on #24
See here how to contribute an problem statement [Click Here](https://github.com/Lakhankumawat/LearnCPP#problem-statement)

[2021-12-08 19:03] ujjwalban commented on #24
yes bhaiya I get it close this issue for now..

[2021-12-09 06:53] Lakhankumawat commented on #24
You want to work on this issue ?
First it will be assigned to you then you will submit a pull request regarding it and then it will be closed .

[2021-12-09 08:08] ujjwalban commented on #24
yes bhaiya all set. Assign me this issue . I am proper newbie :)

[2021-12-09 10:31] Lakhankumawat commented on #24
No worry you can take time and ask me for help .... everyone is newbie in starting so .... contribute as much as you can to practice and get familiar with git and github .

[2022-02-12 07:34] samitkapoor commented on #1
@Lakhankumawat  Can we still contribute?

[2022-02-12 07:57] Lakhankumawat commented on #1
yaa sure !

[2022-02-12 08:14] samitkapoor commented on #1
@Lakhankumawat Okay then, ill contribute to this in my free time. Thanks!

[2022-02-12 08:17] Lakhankumawat commented on #1
no mention at all

[2022-02-22 17:13] Lakhankumawat opened #27 "H-Heaps"
Challanges
- Min Heap with insertion deletion
- Max Heap with inserion deletion
- Heap Sort
- Heapify

You are allowed to make separate files if you want to make a concise contribution.

[2022-02-23 03:32] officSatyam commented on #27
Hey, I am satyam and I want to work on this. Can u please allot me this?

[2022-02-23 04:21] Lakhankumawat commented on #27
please follow [**Contributing**](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) and [**Algorithms**](https://github.com/Lakhankumawat/LearnCPP#algorithms) Guidelines , your submission must match these

[2022-02-23 10:09] #27 closed

[2022-02-23 10:34] n4i9kita commented on #6
Hi @Lakhankumawat.
Can I work on this?

Also, why have we made a folder named Day-100, and there added the algorithms?
Shouldn't we make folders directly for BackTracking, DP, Graphs, Greedy and so on, and add the algorithms there?

If I am understanding it correctly, then we need to add a readme.md for every 'ds or algo' related folder, to describe the concept, and also what is there (the ds and

[2022-02-23 11:23] Lakhankumawat commented on #6
Yaa actually i made the algorithms folder inside and i had to migrate it to out side where as you said

Also

I agree with you and i think you have enough idea , you can go ahead and work on this issue , but commit less at a time and then pr , if you do more number of commits at a time it will be difficult for your valuation .

[2022-02-23 16:53] Lakhankumawat commented on #6
Yeah sounds great , but make sure you don't run into any conflicts while merging PR , take your time and do it as you wish .

[2022-02-23 16:55] Lakhankumawat commented on #6
Also if I am impressed by your contribution I will try to increase the level of PR through which you can get more points , at the end , so best of lucks .

[2022-02-23 16:56] n4i9kita commented on #6
Sure.

[2022-02-24 01:28] n4i9kita commented on #6
Please provide feedbacks - [here -> A google doc I have prepared for the same](https://docs.google.com/document/d/1_eguXULrcXuxajHR9vAG8iJh_X_gXtwuVvnlL7QlaRI/edit?usp=sharing)

[2022-02-25 08:08] ishika1501 commented on #1
@Lakhankumawat  could you tell me like if we contribute a new algo here , will it be counted or we have to wait for 1st march for contribution ?

[2022-02-25 08:29] Lakhankumawat commented on #1
<div align="center">
<img height="350" src="https://user-images.githubusercontent.com/55774240/155681587-9178825d-8868-407e-bea7-ae4497cdab5a.jpg" />
<h3> Tuesday ko aa haina , 1st March ko mast naha dhoke aa okay </h3>
</div>

[2022-02-25 10:26] HarshKumarChoudary commented on #21
I wanted to work on this issue. Please assign it to me.

[2022-02-25 12:03] Lakhankumawat commented on #21
GSSOC'22 Contributor?

[2022-02-25 12:04] Lakhankumawat commented on #21
Coding period starts form 1st March , before that you can contribute but sorry to say you won't get any points.

[2022-02-25 15:21] n4i9kita commented on #4
@Lakhankumawat  as I am now working on the second part of my plan. That is, add the readme to each folder. I think you can assign me this task, as this is similar to what I am doing now.

One issue happened is that, I made folders of 'A-Array' and 'A-AdvancedDataStructures' but it was not pushed. Looking into it.

[2022-02-25 15:22] n4i9kita commented on #6
I have been working on main branch till now.
Considering to move to another branch. @Lakhankumawat recommendations.

[2022-02-25 15:57] Lakhankumawat commented on #6
yea, sure you can continue with new branch

[2022-02-25 16:01] Lakhankumawat commented on #4
Yea empty folders are not pushed , so you add something then they'll be pushed , and you can work on this issue

[2022-02-25 16:08] n4i9kita commented on #4
Okay. Thanks

[2022-02-25 18:40] Pragatii08 commented on #1
I would like to contribute. Please assign.

[2022-02-25 20:05] n4i9kita commented on #1
@Pragatii08 make sure to read the earlier conversations in any issue. Your problem has been answered. https://github.com/Lakhankumawat/LearnCPP/issues/1#issuecomment-932104336

[2022-02-26 02:38] HarshKumarChoudary commented on #21
Ok I will create PR on that day.

[2022-02-26 06:05] sejalrai23 commented on #21
I wanted to work on this issue and add this algorithm with proper documentation and readable code implementation

[2022-02-26 06:32] Lakhankumawat commented on #21
@sejalrai23  here is implementation of [Floyd](https://github.com/Lakhankumawat/LearnCPP/blob/main/G-GraphAlgorithms/S-SingleSourceShortestPath/floyd_warshall.cpp) but it is using vectors and O(n³) time complexity , if you have different approach i mean different data structure OR any more efficient way then you can go ahead .

Also you can contribute to the readme of the folder if you like

Also

[2022-02-26 13:46] gaurangSaraswat-07 opened #42 "Adding counting sort to the SortingAlgorithms"
Counting sort is one of the most efficient sorting algorithms which sorts a list of items in O(n). So, I would like to add this algorithm to the existing SortingAlgorithms. So, I request you to please assign me this issue.

[2022-02-26 17:55] shivanithorve01 opened #44 "Adding DFS Algorithm in Graph Algorithms Folder"
Please assign this issue to me.

[2022-02-26 17:58] shivanithorve01 opened #45 "Adding BFS Algorithm in Graph Algorithms Folder"
@Lakhankumawat Please assign this issue to me.

[2022-02-26 17:59] shivanithorve01 opened #46 "Adding Kruskal's Algorithm in Graph Algorithms Folder"
@Lakhankumawat  Please assign this issue to me

[2022-02-27 02:25] Lakhankumawat commented on #46
Kruskal is already present in graphs and in minimum spanning tree folder please have a look , closing this issue

[2022-02-27 02:25] #46 closed, assigned to nobody

[2022-02-27 02:26] #45 closed

[2022-02-27 04:10] satyam4484 opened #47 "moore's voting algorithm"
**Programming Paradigm:** Arrays
The boyer-Moore voting algorithm is used to find the majority element by eliminating the non-majority elements.

[2022-02-27 04:11] satyam4484 commented on #47
I want to add these , could you tell how to get started I don't know much about github

[2022-02-27 06:05] shivanithorve01 opened #48 "Adding “Deletion of a node in BST in BinarySearchTree Folder”"
In Tree/B-BinarySearchTree Folder, there is code for Creating and inserting node in BST. I want to add program for Deleting node in BST. Will you please assign me this issue ?

[2022-02-27 06:11] shivanithorve01 opened #49 "Kadane's Algorithm in Dynamic Programming Folder"
Kadane's algorithm is an iterative dynamic programming algorithm in which we search for a maximum sum contiguous subarray within a one-dimensional numeric array.
@Lakhankumawat will you please assign this issue to me ?
I'm GSSoC 2022 Participant.

[2022-02-27 06:17] Lakhankumawat commented on #49
Before 1st March you can contribute but points will be alloted only after 1st March

[2022-02-27 06:18] Lakhankumawat commented on #48
There can be only one issue assigned to a contributor at a time so you can create PR for the issue assigned to you then you can start working on this , meantime close this issue and reopen again when you want to contribute otherwise some else might grab it , thanks .

[2022-02-27 06:19] shivanithorve01 commented on #49
Okay !! Got It !!

[2022-02-27 06:20] shivanithorve01 commented on #48
Okay Thanks

[2022-02-27 06:21] Lakhankumawat commented on #47
So there is a meeting link in REPO readme make sure you join that it will be easier for us to guide you better on meet with live interaction , meantime you can follow contribution guidelines and I am assigning this issue to you , you can work on it but make sure you open a pr after 1st March if you are here for points before that you can contribute but you won't get any points , thanks

[2022-02-27 06:22] Lakhankumawat commented on #49
For more please join meet on 28 Feb as stated in repo's README

[2022-02-27 08:16] satyam4484 commented on #47
ya sure i will make pr after 1 march

[2022-02-27 08:55] shubhamdugar20 commented on #49
Hey! I am a GSOC'22 participant . can u assign me this issue?

[2022-02-27 09:10] Lakhankumawat commented on #49
Hi @shubhamdugar20  this issue is already assigned to @shivanithorve01  you can find another issue or can create your own issue , thanks for your interest .

[2022-02-27 09:10] Lakhankumawat commented on #49
If you're not sure about issues then join the meet tomorrow as stated in README of the Repo

[2022-02-27 10:02] ayushi1210 opened #51 "B-Tree Algorithm in Tree Folder"
B-Tree is a self-balancing search tree. When the number of keys is high, the data is read from disk in the form of blocks. Disk access time is very high compared to the main memory access time. The main idea of using B-Trees is to reduce the number of disk accesses. This is highly used for the data base management and other places where large data is to be stored.
I would like to contribute this w

[2022-02-27 10:17] Lakhankumawat commented on #51
Also please read this section , it will be helpful [Algorithms](https://github.com/Lakhankumawat/LearnCPP#algorithms)

Coding period starts form 1st March , before that you can contribute but sorry to say you won't get any points.

Thanks for your interest ,
Happy Coding !!

[2022-02-27 11:58] Anjali-Chaudhary3 commented on #6
Can i also contribute here?

[2022-02-27 12:10] Lakhankumawat commented on #6
Sure but contribute after the meet beacuse some of the things will be discussed tomorrow , find the details inside REPO's README

[2022-02-27 15:13] uhini0201 commented on #1
Hi, I am a contributor of GSSOC'22. Is this issue open?? Can i contribute after 1st march???

[2022-02-27 15:14] deepu0201 commented on #1
If this issue is still open can i contribute being a part of GSSOC'22. Can you assign this to me??

[2022-02-27 15:21] n4i9kita commented on #6
@Anjali-Chaudhary3  if you plan to contribute, then it would be good if we can co-ordinate. It would be better to avoid any form of conflicts.

[2022-02-27 16:06] Lakhankumawat commented on #1
Don't worry guys you'll able to contribute , join the meet tomorrow most of the details will be shared there , meeting details are present in READmE

[2022-02-27 18:44] Anjali-Chaudhary3 commented on #6
Yes .....why not.....then only the things will come out good

[2022-02-27 18:54] arsh-111 opened #53 "Linked List"
Linked list is non-primitive linear data structure. It consist of node, wherein each node consists of two parts : 1) data 2) link to the next node. Types of Linked Lists are singly linked list, doubly linked list, circular singly linked list, circular doubly linked list.
I would like to contribute to this project.
Hello @Lakhankumawat, I am a GSSOC'22 contributor. I am eager to contribute, please

[2022-02-28 03:48] Lakhankumawat opened #54 "[Create New Issue]: dummy issue"
### Description

Description

### Domain

Data Structure

### Type of Contribution

Addition, Refactoring, Enhancement

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-02-28 03:52] Lakhankumawat opened #55 "Title"
### Description

Description

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-02-28 04:15] lakhankumawat01 opened #56 "Dummy Issue Testing in progress"
### Description

Description

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-02-28 04:58] n4i9kita opened #58 "String matching algorithm : Naive and KMP"
### Description

String matching is a very useful in real life scenarios like spell checking, plagiarism detection etc.
__I would like to implement two (exact) string matching algorithms : Naive approach and KMP Algorithm.__
@Lakhankumawat Please assign this issue to me.

The underlying concept of the algorithms :
1. Naive Algorithm : Brute-force approach. It creates a window of length of the smal

[2022-02-28 05:11] n4i9kita commented on #6
@Anjali-Chaudhary3 hope to see you in the meet today. After that, we will decide how to go about it.

[2022-02-28 05:17] Anjali-Chaudhary3 commented on #6
yes

On Mon, 28 Feb 2022 at 10:41, Nikita Sharma ***@***.***>
wrote:

[2022-02-28 05:26] janhavikale06 opened #59 "Floyd’s Cycle Detection Algorithm"
### Description

Floyd's Cycle Detection algorithm is a pointer algorithm that uses only two pointers, which move through the sequence at different speeds. It determine whether the linked list has a cycle or not. First, you keep two pointers of the head node. At each iteration, you move one of the pointers by two steps and the other one by one step If they both meet at some point then we have foun

[2022-02-28 05:31] Lakhankumawat commented on #59
Your algorithm will reside here  [L-LinkedList](https://github.com/Lakhankumawat/LearnCPP/tree/main/L-LinkedList)

[2022-02-28 06:29] rakeshchirla commented on #1
I am a GSSoC'22 participant and would like to work on this task. Can you assign this to me?

[2022-02-28 06:50] Lakhankumawat commented on #1
Create an issue for the algorithm you want to add .

[2022-02-28 07:45] uhini0201 opened #60 "K-Query with Fenwick Tree"
### Description

I would like to give the approach of K-Query with fenwick tree. Fenwick tree is also called Binary Indexed Tree, and the most common application of fenwick tree is K-Queries . This is a very famous one when someone follows the path of competitive programming. I stumbled upon learning this miraculous thing, so would like to share.

@Lakhankumawat Please assign this issue to me. I a

[2022-02-28 07:50] deepu0201 opened #61 "Strongly Connected Components (Domino)"
### Description

This is a very demanding yet interesting approach of solving islands of nodes known as SCC, using the approach I used to learn.

@Lakhankumawat Please assign this issue to me, I am a GSSOC'22 contributor.

### Domain

Competitive Programming

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/

[2022-02-28 08:23] Lakhankumawat commented on #60
Please join meet today more details will be shared there

[2022-02-28 08:24] Lakhankumawat commented on #61
Please join meet today more details will be shared there

[2022-02-28 09:43] anveshajain19 opened #62 "Arrays in C++"
### Description

An array is a collection of elements of the same type placed in contiguous memory locations that can be individually referenced by using an index to a unique identifier.
I would like to contribute to this project.
Hello @Lakhankumawat, I am a GSSOC'22 contributor. I am eager to contribute, please consider the issue and assign me to this project.
Thank you.

### Domain

CPP

### Ty

[2022-02-28 10:28] n4i9kita commented on #62
@anveshajain19 please be more specific, what would you like to contribute?
What are you planning to implement in array?
Or you want to write readme for it?

[2022-02-28 10:43] Vikash-8090-Yadav commented on #53
@arsh-111  please be more specific, what would you like to contribute?
What are you planning to implement in LInked list?
Or you want to write readme for it?

[2022-02-28 10:52] anveshajain19 commented on #62
@n4i9kita I am planning for some topics which you can put in the read me section like:
Standard Problems
Factorial of large numbers
Subarrays
Median Sorted Arrays
Circular array problems and much more.

[2022-02-28 10:55] Vikash-8090-Yadav opened #63 "[Adding] Middle element of the Singly LInked-list"
Hey ,Greeting's of the day
I want to add a new code file which calculates the middle element of the linked list .. to the repository  .i.e .

### LearnCPP/P-Problem Statements & Solution/1-Level 1/MiddleElement_Singly_LInkedlist.cpp
........
Plss assign this issue to me .. under  ###  **GSSOC'22**

Thank's regard :crossed_fingers:

[2022-02-28 11:09] sebinfrancis7 opened #64 "Longest Common Subsequence in D-Dynamic Programming"
### Description

The longest common subsequence (LCS) is a common dynamic programming problem . LCS is defined as the longest subsequence that is common to all the given sequences, provided that the elements of the subsequence are not required to occupy consecutive positions within the original sequences.
@Lakhankumawat Can you please assign this issue to me ,I would like to work on it.
I'm a GSSo

[2022-02-28 11:57] Ashkul23 opened #65 "Title"
### Description

Description

### Domain

Data Structure

### Type of Contribution

Addition, Refactoring, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-02-28 11:58] #65 closed

[2022-02-28 12:00] rakeshchirla opened #66 "Z algorithm"
### Description

Z algorithm is used to find all pattern occurrences in a text(string) by using a Z array in linear space and linear time, O(n+m) where the length of the text is n and of the pattern is m.

@Lakhankumawat Please consider the issue and assign it to me. Thank you.
I'm a GSSoC 2022 participant.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I fo

[2022-02-28 12:16] n4i9kita commented on #62
@anveshajain19 I think a better way to go about this would be to pick one topic (let's say Factorial of large numbers), add it's code with proper comment; and create an issue for each one separately. This way, others can also work on some other problem on arrays as well.

@everyone : Mention the problem(or whatever you wish to implement) in the issue properly, and not just the data structure's nam

[2022-02-28 12:26] anveshajain19 commented on #62
okay
I will make standard problems on Arrays so that others can also contribute in it.

[2022-02-28 12:28] n4i9kita commented on #62
Let's join the meet. I think @Lakhankumawat  will clear it properly.

[2022-02-28 12:46] Lakhankumawat opened #67 "titntleajakjsd"
### Description

Descriptiona

### Domain

Competitive Programming

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-02-28 12:59] anveshajain19 commented on #62
okay

[2022-02-28 13:02] n4i9kita commented on #62
Either we can close this issue, and you can create a new issue with the particular problem/ algorithm you are going to work on. Mention the time complexity of your approach, and maybe compare it to other approaches that are already there to solve it. Like, you can create an issue on "Median on sorted array". Do go through the contributing guidelines as well.

[2022-02-28 13:05] deepu0201 commented on #61
Is this issue considered as #GSSOC'22  contribution??

[2022-02-28 13:06] anveshajain19 commented on #62
Okay,  I will create a new issue with the particular problem/ algorithm I am going to work on.

[2022-02-28 13:06] #62 closed

[2022-02-28 13:18] anveshajain19 opened #69 "Median of two Sorted Arrays"
### Description

Several ways to find the median of two sorted arrays will be illustrated here:
Eg: For same sized Arrays.
With logarithmic time complexity, a divide and conquer programming technique will be used.

### Domain

CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.

[2022-02-28 13:27] PrashantVIT1 opened #70 "Stock Buy And Sell"
### Description

Stock Buy And Sell
Problem Statement: You are given an array of prices where prices[i] is the price of a given stock on an ith day.

You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock. Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.

Ex

[2022-02-28 13:33] PrashantVIT1 commented on #70
Hii I am a GSSoC'22 participant

[2022-02-28 13:33] helix17 opened #71 "Pattern Searching using Finite Automata Algorithm"
### Description

In Finite Automata algorithm, a Finite Automata is constructed in the form of a 2D array after the pattern is pre-processed. Once the Finite Automata in built, it can be traversed from the first state along with the input text for pattern recognition. The next state of the finite automata is decided by the next letter of the input text. The pattern is found if the
the finite autom

[2022-02-28 13:40] Lakhankumawat commented on #70
hi @PrashantVIT1  thanks for reaching me out but problem statements are not accepted in this project as GSSOC'22 contribution cause anyone you know can copy a problem from leetcode , paste solution in PR and can create such PR's which won't be a valid contribution , you can see what are the issues in the accepted issues , they have a algorithm dedicated , so i recommend you come up with something

[2022-02-28 13:42] Lakhankumawat commented on #70
you can contribute  this issue to the repo if you want to but it won't be counted in your point for GSSOC'22 but i recommend you contribute this issue instead of closing because you'll learn from it.

[2022-02-28 13:46] Lakhankumawat commented on #63
hi  @Vikash-8090-Yadav  thanks for reaching out but problem statements are not accepted in this project as GSSOC'22 contribution cause anyone you know can copy a problem from leetcode , paste solution in PR and can create such PR's which won't be a valid contribution , you can see what are the issues in the accepted issues , they have a algorithm dedicated , so i recommend you come up with somethi

[2022-02-28 13:50] Lakhankumawat commented on #60
Seems like your issue is a bit of dilemma whether to include it in Problem Statement or an algorithm , please explain it a bit more .

[2022-02-28 13:51] Lakhankumawat commented on #71
hi @helix17  thanks for reaching out but problem statements are not accepted in this project as GSSOC'22 contribution cause anyone you know can copy a problem from leetcode , paste solution in PR and can create such PR's which won't be a valid contribution , you can see what are the issues in the accepted issues , they have a algorithm dedicated , so i recommend you come up with something else .

[2022-02-28 13:52] #53 closed

[2022-02-28 13:54] helix17 commented on #71
Thanks for letting me know. I'll look for another algorithm to work on along with this issue.

[2022-02-28 13:54] Lakhankumawat commented on #53
If you want to contribute a linked list ,singly linked list, doubly linked list, circular singly linked list, circular doubly linked list. please create a specific issue for that beacuse by including all of those you cover many issues i mean it would be better for you if you create separate issues for each one of them you'll get more points

[2022-02-28 13:55] helix17 commented on #71
Thanks for letting me know. I'll look for another algorithm to work on along with this issue.

[2022-02-28 13:55] Lakhankumawat commented on #71
closing the issue

[2022-02-28 13:55] #71 closed

[2022-02-28 14:06] abhi1e9-1e10 opened #72 "Flatten a binary tree into linked list"
### Description

1. Recursively flatten the left and right subtree.

2. Store the left tail and right tail i.e.t he last elements of left and right subtree respectively.

3. Store right subtree in temporary variable and make the left subtree as right subtree.

4. Join right subtree with left tail.

5. Return the right tail recursively.

### Domain

Data Structure

### Type of Contribution

Documen

[2022-02-28 14:11] helix17 opened #73 "Gift Wrapping Algorithm"
### Description

Gift Wrapping Algorithm is used to find the convex hull (smallest convex polygon that covers set of points) of a given set of points. In this algorithm, the leftmost point is taken and then the next point to be connected to the hull is chosen if all the points are to the right of the line formed by joining the previous and the chosen point. This point is found in O(n) time complex

[2022-02-28 14:15] Vikash-8090-Yadav commented on #53
@Lakhankumawat  can i create issue for the singlyLinkedlist .. under **linkedlist** repo
which include basic operatio insert , update , delete , and advance algo also like ...deleting node at the beginning , merge sort and, palindrome and  many more ......

[2022-02-28 14:31] arsh-111 commented on #53
@Lakhankumawat  I would like to implement operation on singly linked list (insert at begin, insert at end, insert at specific position, delete from begin, delete from specific position, delete from end, traverse), Circular singly linked list (insert at begin, insert at end, insert at specific position, delete from begin, delete from specific position, delete from end, forward traverse, backward tr

[2022-02-28 14:37] Vikash-8090-Yadav opened #74 "Add Doubly_Linked_LIst"
Hii there , Greeting's of the day

i want to contribute in the Linked List folder for the Doubly_List .
The flow of the repository is : **LearnCpp/L-LinkedLIst/Doubly_Linked_LIst/**.

This folder conatins the all basic operation as well as advance operation such as insertion,deletion,updating and many more ..
in advance  i can add the sorting sorting of the linked list , intersection of the linked

[2022-02-28 14:38] PrashantVIT1 commented on #70
Ok Sure I will add solution

[2022-02-28 14:41] deepu0201 commented on #61
Since domino is a application based, so this will be acting as an example to explain the algorithm and what is the time complexity and how SCC algorithm works. @Lakhankumawat

[2022-02-28 14:43] uhini0201 commented on #60
Fenwick tree is widely used in range-query problems and k-query is a very famous application of that algorithm, so basically i would be explaining the working and the algorithm as to visualize fenwick tree without example is hard, so i will be explaining the application of fenwick tree using k-query. @Lakhankumawat

[2022-02-28 14:48] Vikash-8090-Yadav opened #75 "[ADD] Kadanes Algorithm"
Hii there , Greeting's of the day
Kadane's algo is one of the most important problem we face  and came across in the dynamic problem as well as in the greedy algorithm , ,,,
.

The flow of the repository is : **LearnCpp/D-DynamicProgramming/**
Plss consider this algo as assign this to me ..
### GSSOC'22

Thank's and regard's :crossed_fingers:

[2022-02-28 14:52] Vikash-8090-Yadav commented on #63
Ok. ...no issue.
Yes I will complete this when ever I get free from gssoc''22.

[2022-02-28 14:57] singhkunal01 opened #76 "[ADD] Manacher's Algorithm For (Longest Palindromic Substring)"
### Description

Hey @Lakhankumawat sir I want to add the Explanation as well as the clean code for this Algorithm which is not raised by anyone till now.
Please assign this to me !!

- I'm a GSsoC'2022 participant as well.

###Thank You
### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [x] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP

[2022-02-28 15:05] Avik-creator commented on #6
Hey everyone I want to contribute to it so would you like to assign this issue to me. I will learn C++ with this also as I am highly interested it learning C++.

[2022-02-28 16:01] abhi1e9-1e10 opened #77 "[ADD] Implement two stacks in an array"
Create a data structure twoStacks that represents two stacks. Implementation of twoStacks should use only one array, i.e., both stacks should use the same array for storing elements.

**Describe the solution you'd like**
Method 1 (Divide the space in two halves)

**Describe alternatives you've considered**
Method 2 (A space efficient implementation)

**Additional context**
Add any other context or

[2022-02-28 16:18] uhini0201 opened #78 "Knapsack using 1 D array"
### Description

Usually for knapsack 2 D arrays are used, but here, it will be using 1 D array which will optimise the space complexity to a huge extent.

@Lakhankumawat please assign me this issue.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code o

[2022-02-28 16:23] deepu0201 opened #79 "Segmented Sieve Problem"
### Description

In this problem you have to print all primes from given interval. As it is a range query problem, we will be using segment tree as the name suggests.
@Lakhankumawat please assign me this issue.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md

[2022-02-28 17:16] TushitaParashar commented on #77
Hey! I want to add an explanation and code for this problem, please assign this to me.
I'm also a participant in GSsoC'22.

[2022-02-28 17:22] ringo476 commented on #79
Hi sir I want to add the explanation as well as the clean code for this algorithm.
@Lakhankumawat please assign me this issue..
I'm a GSsoC'2022.

[2022-02-28 17:23] ringo476 commented on #72
Hi sir I want to add the explanation as well as the clean code for this algorithm.
please assign me this issue..
I'm a GSsoC'2022 participant as well.

[2022-02-28 17:29] arsh-111 commented on #53
@Lakhankumawat  Thank you, i will create an issue.

[2022-02-28 17:30] arsh-111 opened #80 "Linked list"
I would like to implement operation on singly linked list (insert at begin, insert at end, insert at specific position, delete from begin, delete from specific position, delete from end, traverse), Circular singly linked list (insert at begin, insert at end, insert at specific position, delete from begin, delete from specific position, delete from end, forward traverse, backward traverse). Please

[2022-02-28 17:37] DlVYANSH commented on #80
Please assign this to me. I am also contributing in gssoc'22

[2022-02-28 18:46] satyam4484 commented on #47
hey can i make pull request as a part of GSSOC

[2022-02-28 18:50] shivanithorve01 commented on #48
@Lakhankumawat Please assign this issue to me

[2022-02-28 19:01] amir-ammar opened #82 "Binary Search"
**Describe the solution you'd like**
  implement a folder for binary search techniques

[2022-02-28 19:01] satyam4484 commented on #47
I am pushing to github it's showing you don't have permission, could you tell me how I can resolve these

[2022-02-28 19:04] amir-ammar commented on #82
@Lakhankumawat please assign me this issue.

[2022-02-28 19:06] Chahat-M opened #84 "Vertical order traversal of a binary tree"
### Description

I wish to implement vertical order traversal of a binary tree using level order traversal.
@Lakhankumawat  Can you please assign this to me under GSSoC'22 ?

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.

[2022-02-28 19:20] anu-oss opened #86 "Prim's Minimal Spanning Tree Algorithm"
Greedy Algorithm

[2022-02-28 19:20] anu-oss commented on #86
/assign

[2022-02-28 19:21] #86 closed

[2022-02-28 19:22] anu-oss opened #87 "Prim's Minimal Spanning Tree Algorithm"
### Description

Hi there. I wish to contribute the Greedy Algorithm Documentation for this algorithm.
Kindly assign me this issue.

### Domain

Algorithm

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github

[2022-02-28 19:23] anu-oss commented on #87
/assign

[2022-02-28 19:26] tanya-gupta25 opened #88 "Find the middle element of Linked List"
### Description

I will add all the approaches to find the middle element of Linked List along with their Time & Space Complexity.

I want to work on this issue under GSSOC'22.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https:/

[2022-02-28 19:27] tanya-gupta25 commented on #88
I want to work on this issue under GSSOC'22.

[2022-02-28 19:39] tingtong713145 commented on #75
hello there ,                                                                                                                                                                                               Kadane's algorithm work like a 1-d problem in dynamic programming for finding maximum subarray sum in an array where the general approach is to set two variables current sum and max sum and we neg

[2022-02-28 21:42] Jyo561 opened #89 "Interval Scheduling example in Java C++ C Python"
### Description

Description

### Domain

Algorithm

### Type of Contribution

GSSoC22

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-02-28 23:12] shaaban500 opened #90 "Binary Search"
### Description

I will rewrite a clean standard code for binary search on a popular containers such as arrays, vectors, sets.. etc and it's enhancement because the current code is abit confusing.
( ADDITION )
 I will ADD another standard code for "binary search the answer" problems with a standard example for it.
I will also explain time and space complexities in each case.
I am a competitive pro

[2022-02-28 23:25] shaaban500 opened #91 "LIS Dynamic Programming"
### Description

I noticed that DP section contains only two patterns of DP popular problems.
I know more patterns which I have trained on and solved a lot like :
- LIS ( Longest Increasing Subsequence(

I can write clean standard code for it and show time and space complexities with comments.
I will provide code with links to the standard problem.
I will provide more than one way to solve this pr

[2022-03-01 02:35] Priyal168 opened #92 "Vectors"
### Description

Vectors are essential data structures for both in competietive coding and interviews. I'd like to add another section of vectors in this.

I am a GSSOC'22 contributor and I would like to contribute please assign this to me. Thankyou.

### Domain

Standard Template Library

### Type of Contribution

Addition, Enhancement

### Code of Conduct

- [X] I follow [Contributing Guidelines

[2022-03-01 03:31] ChetasShree opened #93 "Reverse a Linked List in CPP"
### Description

Hi
I am a contributor at GSSOC'22, and I would like to contribute in CPP this problem statement, I will even add explanation and time comp and space comp and test cases.
Can you please assign this issue to me?

Than you

### Domain

Data Structure

### Type of Contribution

Addition, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/La

[2022-03-01 03:37] ChetasShree opened #94 "Delete A node in linked list CPP"
### Description

Hi
I am a contributor at GSSOC'22, and I would like to contribute in CPP this problem statement, I will even add explanation and time comp and space comp and test cases.
Can you please assign this issue to me?

### Domain

Data Structure

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP

[2022-03-01 03:37] Ashkul23 opened #95 "Inheritance and its implementation"
### Description

Frequent use of code written once, it is reusability.
One superclass can be used for the number of subclasses in a hierarchy.
No changes to be done in all base classes; just do changes in parent class only.
Inheritance is used to generate more dominant objects.

### Domain

CPP

### Type of Contribution

Addition, Documentation, Others

### Code of Conduct

- [X] I follow [Contrib

[2022-03-01 04:00] Kranthi-Guribilli opened #96 "Problems on Linked List Data Structure"
### Description

Hello there! I'm a GSSOC'22 contributor.
Description of my issue:
I found that in 'P-Problem Statements & Solution' folder there are no problem statements on the linked list. So, I will add beginner-level problems along with their solution on Linked List.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](

[2022-03-01 04:03] DlVYANSH opened #97 "Insert node at nth position of linked list"
### Description

Head of the linked list is given, insert the node at nth position in the linked list and display the linked list. If less than n nodes present, print the message "Less than n nodes present in the linked list".

please assign this to me. I am participating in gssoc'22.
I will provide proper description of the code with time and space complexity with various approch

### Domain

Dat

[2022-03-01 04:08] DlVYANSH commented on #96
Hi!
I am participating in gssoc'22.
I can also contribute in this issue. I will add various "good" linked list problems which I had solved till date with various approaches. I will provide proper description of the code plus time and space complexity of the code

[2022-03-01 04:11] Kranthi-Guribilli commented on #96
Yeah, me too looking forward to contributing to this issue. We both can do it once they assigned it.

[2022-03-01 04:15] Vinayakk404 opened #98 "Dynamic programming problem"
### Description

I recently came across  the
**Activity selection problem**
and learnt a lot while solving it using dynamic programming.

I would also like to contribute the same  and will write clean code, providing comments wherever necessary ,
along with the space and time complexity.
Hence please assign this issue to me.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of C

[2022-03-01 04:15] DlVYANSH commented on #6
@Lakhankumawat
Hi!
I am contributor in gssoc'22. Can I contribute to it?
I know c++ and beginner in data structures and algorithms

[2022-03-01 04:21] Vinayakk404 commented on #98
I am also participating for Gssoc'22.

[2022-03-01 04:43] nabeel001 opened #99 "Rotate a Linked List"
### Description

I came across this problem of
**Rotating a LinkedList**.

I would like to contribute an efficient solution to this problem in cpp & kindly request you to assign this issue to me.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code

[2022-03-01 05:02] DlVYANSH commented on #96
Yeah sure

[2022-03-01 05:05] Lakhankumawat commented on #96
A mentor will assigned to you guys shortly please have patience

[2022-03-01 05:05] Lakhankumawat commented on #95
Okay , but also tell how would you implement it .

[2022-03-01 05:06] Lakhankumawat commented on #95
Describe your problem statement , if it is valid we will accept your issue.

[2022-03-01 05:06] Kranthi-Guribilli commented on #96
Ok!

[2022-03-01 05:08] Lakhankumawat commented on #91
You can only pick one problem at a time not many , create a issuse for one at a time and we'll be happy to accept that .

[2022-03-01 05:10] Lakhankumawat commented on #89
No description , no explanation , describe your problem , and contributions are accpted in c++ only .

[2022-03-01 05:11] Lakhankumawat commented on #72
Sorry @ringo476  FCFS- First Come First Serve . This issue will be assigned to @abhi1e9-1e10

[2022-03-01 05:12] MaitriDA commented on #21
Can you please assign me this issue under GSSOC'22

[2022-03-01 05:36] DlVYANSH commented on #96
okk

[2022-03-01 05:37] #98 closed

[2022-03-01 05:39] Vinayakk404 opened #101 "Fibonacci series using dynamic programming"
### Description

Recently i came across the
**Fibonacci problem**
which can be solved using dynamic programming

I will write a clean code, with relevant comments added.
 Pls assign this issue to me
I am also participating for Gssoc'22

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/

[2022-03-01 05:41] varsha080 opened #102 "Implementation of Stack using array"
### Description

I want to add the code of implementation of stack using array for better understanding of these concept. I will be using C++ for the code. Also, I'm a GSS0C22 contributor. Kindly assign the task to me.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Co

[2022-03-01 05:55] shaaban500 opened #103 "LIS Dynamic Programming"
### Description

I will provid a clean standard code for longest increasing subsequence DP problem.
I will show different ways to solve the same problem with their different complexities in memory and time.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) &

[2022-03-01 05:57] shaaban500 opened #104 "Binary search the answer problems"
### Description

I will write clean standard code for binary search problems on a range of numbers not on data structures containers.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.gi

[2022-03-01 06:02] #104 closed

[2022-03-01 06:06] Rahul5430 opened #105 "Merge K sorted linked lists"
### Description

Given K sorted linked lists of size N each, merge them and print the sorted output.

Please assign this to me. I am participating in GSSOC'22.
I will provide a proper description of the code with time and space complexity and test cases.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com

[2022-03-01 06:12] bharat1999 opened #106 "Trie Implementation"
### Description

Description
Implementation of Trie Data structure

I have seen that Trie folder is empty and there is no implementation of that , so I want to implement Trie and show how we can insert and search efficiently using Trie

Please assign this to me. I am participating in GSSOC'22.
I will provide a proper description of the code with time and space complexity and test cases.

### Domai

[2022-03-01 06:42] Smriti123Shukla commented on #105
I have worked previously on these types of questions. Kindly, assign me this task. I am a participant in Gssoc'22.

[2022-03-01 06:44] Smriti123Shukla commented on #97
This uses easy approach. Please assign me this task. I am a participant in Gssoc'22.

I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 06:47] #103 closed

[2022-03-01 06:48] Smriti123Shukla commented on #93
Good morning !! Please assign me this issue. I will add comments describing it and also complexity of solution.
I am a participant in Gssoc'22.
I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 06:48] ChetasShree opened #107 "Two Pointers Technique- find two numbers with a given sum in CPP"
### Description

Hi
I am a contributor at GSSOC'22, and I would like to contribute in CPP this problem statement, I will even add explanation and time comp and space comp and test cases.
Can you please assign this issue to me?

### Domain

Data Structure

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP

[2022-03-01 06:48] rajprem4214 opened #108 "Adding Sliding Window Technique"
Adding new cpp file with illustration of Sliding Window Technique.
and improving the readme file with proper explanation.

[2022-03-01 06:53] Garvit-Gandhi opened #109 "Improve RatInMaze.cpp"
### Description

I can change the RatInMaze.cpp so that the size of the maze and the positions of the obstacles can be defined by the user during the runtime of the program using dynamic memory allocation.

### Domain

CPP

### Type of Contribution

Enhancement

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Cod

[2022-03-01 06:58] Smriti123Shukla commented on #77
Good morning!! Please assign this task to me. I will write clean and efficient code by describing comments and also telling their complexity.
I am a participant in Gssoc'22.

[2022-03-01 07:17] helix17 commented on #73
@Lakhankumawat Can assign this issue to me. Thank You.

[2022-03-01 07:41] shubhamlakheraa opened #110 "Trapping Rain Water Problem"
### Description

Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it is able to trap after raining.

The problem statement will be solved under Problem Statement & Solutions folder.

I will provide a proper description of the code with time and space complexity.

Participation through GSSOC'22.

Can I work on this?

### Domain

Al

[2022-03-01 07:48] Jyo561 commented on #89
So i will be implementing the Greedy Algos in C++. as most follow only pseudo code this might be a helpful collecting of libraries which will help newbies implement the code efficiently

[2022-03-01 07:55] DlVYANSH opened #111 "Remove Nth node from end of the linked list"
### Description

Head of the linked list will be given, our program will remove nth node from end of the linked list and display the list.

I am a contributor in gssoc'22. Please assign this to me
I will provide optimal code with description, time and space complexity and comments plus test cases.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow

[2022-03-01 07:55] uhini0201 commented on #78
@Lakhankumawat can you please assign this to me???

[2022-03-01 08:06] sauradip007 opened #112 "Hi I would like to get started with contributing to this repo as a part of GSSoC ' 22"
### Description

I have practiced questions on data structures like hashmaps , priority queues, tries and DP. I would like to add those files into the repo for the same.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/

[2022-03-01 08:17] uhini0201 commented on #60
@Lakhankumawat  please assign me this issue so that i can start working on it.

[2022-03-01 08:18] uhini0201 commented on #79
@Lakhankumawat  I am waiting for you to assign me this issue.

[2022-03-01 08:18] deepu0201 commented on #79
@Lakhankumawat  i am waiting for you to assign me this issue.

[2022-03-01 08:21] lagwalsahil21821 opened #113 "Binary Search"
### Description

Given n sorted numbers(duplicates) and you have to implement binary search algo and gave output as the number is present or not?
If present then at what index? And if that element has duplicates then print that index at which it has first occurred.

like we have 7 elements
**Input:**
2 4 4 4 7 7 9
binary Search for : 4
**Output:**
4 is present at index 1

@Lakhankumawat Please con

[2022-03-01 08:22] shubhamlakheraa commented on #110
@Lakhankumawat

[2022-03-01 08:35] Kranthi-Guribilli opened #114 "Adding Digits Problem"
### Description

Two inputs are given: a and b. However, the number 'a' is too short. So we should repeat the operation of lengthening the number 'a' n times.

One operation of lengthening a number means adding exactly one digit to the number (in the decimal notation) to the right provided that the resulting number is divisible by the number b. If it is impossible to obtain the number which is div

[2022-03-01 08:44] #77 closed

[2022-03-01 09:04] LakshayN opened #115 "Adding subsequence with K sum problem"
### Description

Given a vector and a number K, the task is to find all the subsequences of the vector whose sum of elements is K.

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE

[2022-03-01 09:04] miraj0507 commented on #110
Have you gone through the contributing guidelines?

[2022-03-01 09:17] shivam-s16 opened #116 "0-1 Knapsack"
### Description

I wish to implement other knapsack like integer and 0-1 . @Lakhankumawat and want to work  on it as GSSoC'22  participant .

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/m

[2022-03-01 09:28] shubhamlakheraa commented on #110
Yes.

[2022-03-01 09:28] LakshayN commented on #115
@Lakhankumawat I got a mail that says "Greetings: All jobs have failed" after I raised this issue. What does that mean ?

[2022-03-01 09:33] shubhamlakheraa commented on #110
Yes I have gone through the contributing guidelines.

On Tue, Mar 1, 2022, 14:34 SK MIRAJ ***@***.***> wrote:

[2022-03-01 09:38] shubhamlakheraa commented on #110
/assign

[2022-03-01 09:47] LakshayN commented on #1
@Lakhankumawat  Hi, I would like to contribute for algorithm to find the maximum area of histogram using stacks.

[2022-03-01 09:47] rtp77 opened #117 "Checking if Password contains part of Username of not"
### Description

Description

To create a simple search upon input of Username and Password, to check if password contains bits of username or not, in order to determine the strength of the password for such cases.

In addition, will include the description of the code and time complexity.

I would love to work on this as part of GSSoC 22

### Domain

Other

### Type of Contribution

Addition

###

[2022-03-01 09:48] shubhamlakheraa commented on #110
Yes, I have gone through the contributing guidelines.

[2022-03-01 10:02] DlVYANSH commented on #97
@Lakhankumawat where would i have to add the problem statement? In pr description or in the description of issue itself by editing it?

[2022-03-01 10:03] ashuraj15 opened #118 "Add two numbers represented by linked lists"
### Description

Given two numbers represented by two linked lists and each of their nodes contains a single digit. Add the two numbers and return the sum as a linked list.

I would love to work on this as part of GSSoC'22.

### Domain

Competitive Programming

### Type of Contribution

Addition

### Code of Conduct

- [x] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCP

[2022-03-01 10:07] Pranshu321 opened #119 "Adding DNF Sort in Sorting Methods"
As we know DNF sort is the special sorting way in which we can sort the array having **0's, 1's, and 2's** in **O( n )** and without taking extra space which makes one of the efficient ways to sort a set type of array.
\
**I would like to work on this issue. \
As a GSSOC'22 Contributor.**

### And Assure You that this will add value to your repo.

[2022-03-01 10:19] IKRA786 opened #120 "LCS Dynamic Programming"
### Description

I can write clean and optimize code for

- Longest Common Subsequence

Will provide links to Questions related to LCS.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.

[2022-03-01 10:28] Rahul2570089 opened #121 "Iterative merge sort algorithm"
I would like to add Iterative version of merge sort algorithm (which was missing in "S-SortingAlgorithm" folder) with all the necessary description like time and space complexity or any comments for more clarity.
Hope you will assign this task to me.

[2022-03-01 10:28] IKRA786 opened #122 "Cycle Detection Algorithm (Graph)"
### Description

Hey, I am a contributor for Gssoc'22.
I want to add clean and easily understandable code for cycle detection in graph

1. Using BFS
2. Using DFS

Please provide the opportunity for this.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Co

[2022-03-01 10:36] rittikadeb opened #123 "Travelling Salesman Problem( Dynamic Programming)"
### Description

Hi I am GSSOC'22 contributor.
I would like to add the code for Travelling Salesman Problem(Dynamic Programming) using C++.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/bl

[2022-03-01 10:50] PriyanshuSaxena2612 opened #124 "Sort an array of 0s, 1s and 2s"
### Description
I will be writing **2 methods** for the above problem statement, continued **with time and space complexity**, first one is the basic with counting all the 0, 1 and 2 while the other method is to swap the arrays' elements in place in a single traversal.

### Domain
Array Data Structure

### Type of Contribution
Addition

### Code of Conduct
 I follow [Contributing Guidelines](https

[2022-03-01 10:52] DlVYANSH opened #125 "Swap nodes of linked list"
### Description

our program will swap two nodes of the linked list by changing the links( not by swapping the values )

Please assign this to me. I am also contributor in gssoc'22

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](htt

[2022-03-01 10:54] Susmita-Dey opened #126 "Add Simple, Circular, Reverse and Merge2Sorted Linked List Programs"
### Description

I want add the above mentioned 4 programs to the Linked List folder of this repo.
**I am contributor at GSSoC'22. Please assign this issue to me.**

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/

[2022-03-01 11:42] Neerajjr11 opened #127 "Matrix Chain Multiplication Dynamic Programming"
### Description

I can write clean and optimize code for
- Matrix Chain Multiplication
Will provide links to Questions related to Matrix Chain Multiplication.

@Lakhankumawat will you please assign this issue to me ?
I am GSSoC 2022 Participant.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat

[2022-03-01 11:44] Neerajjr11 opened #128 "Matrix Chain Multiplication Divide and Conquer"
### Description

I can write clean and optimize code for

- Matrix Chain Multiplication
Will provide links to Questions related to Matrix Chain Multiplication.
@Lakhankumawat  will you please assign this issue to me ?
I am GSSoC 2022 Participant.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawa

[2022-03-01 12:13] omkar806 commented on #94
Description :
Hi
I am a contributor at GSSOC'22, and I would like to contribute in CPP this problem statement . I will explain this code in simplest possible way and also will add all the details such as time and space complexity  and also will do this problem in 2 methods .

[2022-03-01 12:18] AnIkeT126 opened #129 "Student Assessment Card"
To create a Report Card Based Assessment using C++ and MYSQL to connect with the database and serve as a beginner-friendly project.

[2022-03-01 12:39] ayushi1210 opened #131 "Median of two sorted arrays of same size D-Divide and Conquer"
### Description

There are 2 sorted arrays A and B of size n each.
I suggest Algorithm to find the median of the array obtained after merging the above 2 arrays(i.e. array of length 2n).
Time complexity - O(log(n)).

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributi

[2022-03-01 12:46] i-am-aisha commented on #125
Description:
my program will pairwise swap elements of a given linked list in both iterative and recursive approach with time complexity-O(n) in both methods .  please assign to me this issue so that i can contribute in this project. I am a contributor in GSSOC'22.
 Domain:
Data structure and algorithms
Type of contribution:
Addition

[2022-03-01 12:53] Yash-Parsana commented on #1
hello @Lakhankumawat i would like to add merge sort for linked list

[2022-03-01 12:58] adham-nasr opened #132 "Multithreaded merge sort"
**Description**

I suggest an Algorithm to merge sort an array with multiple threads
Time complexity - O(nlog(n)).

**Domain**
Algorithm

**Type of Contribution**
Addition

**Code of Conduct**
 I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of

[2022-03-01 13:13] Yash-Parsana opened #134 "check if a singly linked list is palindrome"
### Description

linked list

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 13:14] Yash-Parsana commented on #134
i would like to work on this issue under gssoc22

[2022-03-01 13:15] Lakhankumawat commented on #74
A mentor will be assigned to you shortly please have patience .

[2022-03-01 13:19] Yash-Parsana commented on #1
hello @Lakhankumawat i would like to add Rabin-Karp Algorithm for Pattern Searching

[2022-03-01 13:32] Yash-Parsana opened #135 "Rabin-Karp Algorithm for Pattern Searching"
### Description

Pattern Searching Algorithm

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 13:33] Yash-Parsana commented on #135
i would like to add this algorithm under Gssoc22

[2022-03-01 13:42] Yash-Parsana opened #136 "merge two sorted array without using extra space ( Gap Method )"
### Description

merge two sorted array without using extra space

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 13:43] Yash-Parsana commented on #136
i would like to work on it under Gssoc22

[2022-03-01 13:49] Yash-Parsana opened #137 "Sieve of Eratosthenes Algorithm"
### Description

Sieve of Eratosthenes is a simple and ancient algorithm used to find the prime numbers up to any given limit. It is one of the most efficient ways to find small prime numbers.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of condu

[2022-03-01 13:51] Yash-Parsana commented on #137
i would like to add this algorithm under Gssoc22

[2022-03-01 13:54] Aneesh-07 opened #138 "Bracket Balancing using Stack"
## Description

Checking for balanced brackets in a given expression.

## Domain

Algorithm

## Type of Contribution
Addition

## Code of Conduct

- [x] follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 13:57] Yash-Parsana opened #139 "Median in a row-wise sorted Matrix"
### Description

Median in a row-wise sorted Matrix

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 13:58] Yash-Parsana commented on #139
i would like to work on it under Gssoc22

[2022-03-01 14:05] Yash-Parsana opened #140 "Union and intersection of two arrays"
### Description

Union and intersection of two arrays

### Domain

Standard Template Library

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 14:06] Yash-Parsana commented on #140
i would like to work on it under Gssoc22

[2022-03-01 14:06] rravi1401 opened #141 "Implementation of stack using Queue"
### Description

i'll write and explained the code of implementation of stack using queue

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 14:06] rravi1401 commented on #141
/assign

[2022-03-01 14:06] rravi1401 commented on #141
i'm a contributor under gssoc 22 . And i would like to work on this issue

[2022-03-01 14:09] Yash-Parsana opened #142 "Program to generate all possible valid IP addresses from given string"
### Description

Program to generate all possible valid IP addresses from given string

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 14:10] Yash-Parsana commented on #142
i would like to work on it under Gssoc22

[2022-03-01 14:10] 22chiragmodh opened #143 "Strassen's matrix multiplication"
### Description

Strassen's matrix multiplication Time complexity : O(n^log7)
Naïve matrix multiplication Time Complexity: O(N^3)

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github

[2022-03-01 14:12] Yash-Parsana opened #144 "Rotate a matrix by 90 degree in clockwise direction without using any extra space"
### Description

matrix rotation

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 14:12] Yash-Parsana commented on #144
i would like to work on it under Gssoc22

[2022-03-01 14:15] Yash-Parsana opened #145 "Longest Palindrome in a String"
### Description

program to find longest palindromic substring in a string

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 14:15] 22chiragmodh commented on #143
Strassen's matrix multiplication time complexity < Naïve matrix multiplication .
Strassen's matrix multiplication is uses divide and conquer method which is a recursive algorithm.

[2022-03-01 14:17] Yash-Parsana opened #146 "Next Permutation"
### Description

Algorithm to generate Next Permutation of a number

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 14:17] Yash-Parsana commented on #146
@Lakhankumawat
i would like to work on it under Gssoc22

[2022-03-01 14:18] Lakhankumawat commented on #145
Please make a clear and concise description of your issue .

[2022-03-01 14:20] Lakhankumawat commented on #146
Only one issue can be assigned to one contributor at a time you have made two issues .

[2022-03-01 14:20] Lakhankumawat commented on #146
either close this one or existing one

[2022-03-01 14:21] rravi1401 opened #147 "Implementation of Queue using Stack"
### Description

I'll write and explain code regarding this data structure .
In this we will learn how to implement Queue data structure through the help of Stack.
Queue is a data structure which works on FIFO pattern but we will implement it with through Stack which works on LIFO princile.
I'll really like to contribute on this issue by writing code of all function (insertion, deletion) all and a

[2022-03-01 14:21] rravi1401 commented on #147
I'm a contributor under gssoc 22 . And I would like to work on this issue

[2022-03-01 14:22] Lakhankumawat commented on #144
Issue Spamming .

[2022-03-01 14:22] rravi1401 commented on #147
@Lakhankumawat will you please assign this issue to me , I'm gssoc22 participant.

[2022-03-01 14:22] #144 closed

[2022-03-01 14:23] #140 closed

[2022-03-01 14:24] Lakhankumawat commented on #136
Only one issue at a time by one contributor sorry

[2022-03-01 14:24] #136 closed

[2022-03-01 14:25] #135 closed

[2022-03-01 14:25] #134 closed

[2022-03-01 14:25] Yash-Parsana commented on #146
@Lakhankumawat
i didn't know that so created many issue. now what to do ?

[2022-03-01 14:26] Lakhankumawat commented on #146
I'll help you close them .

[2022-03-01 14:26] #146 closed

[2022-03-01 14:28] Lakhankumawat commented on #143
Please find the directory in which your problem statement will go and mention it here .

[2022-03-01 14:29] Yash-Parsana commented on #145
program to find longest palindromic substring in a string

[2022-03-01 14:30] Lakhankumawat commented on #143
Also make a clear and concise Desc. of your Problem then short-desc label will be removed and you'll be assigned this issue .

[2022-03-01 14:32] Lakhankumawat commented on #141
Stacks are already implemented in the project using stl and this issue is a duplicate one .

[2022-03-01 14:33] saiadityaviswanadham opened #148 "Johnson Algorithm"
**Is your feature request related to a problem? Please describe.**
The feature can be used to find out the shortest paths between two vertices.

**Describe the solution you'd like**
->Let the given graph be G. A new vertex v should be added to the graph, Later add edges from a new vertex to all vertices of graph G. The modified graph be G.
->Use the bellman-ford algorithm on G with v as a source p

[2022-03-01 14:34] Lakhankumawat commented on #147
ok @rravi1401  you are assigned to this issue make sure you follow contribution guidelines and commit your problem statement in proper folder i.e. S-Stacks  and do not create multiple issues at the same time . You can only work on one issue at a time .

[2022-03-01 14:35] Lakhankumawat commented on #145
Yaa but edit the description above not in comments bro.

[2022-03-01 14:35] Lakhankumawat commented on #145
This issue will be commited in S-Strings

[2022-03-01 14:36] Lakhankumawat commented on #145
And do not spam multiple issues.

[2022-03-01 14:36] saiadityaviswanadham commented on #148
@Lakhankumawat As  a part of GSSOC22, Can you assign me this issue..

[2022-03-01 14:37] Lakhankumawat commented on #137
Since you've assigned issue #145 closing this issue

[2022-03-01 14:37] #137 closed

[2022-03-01 14:39] #120 closed

[2022-03-01 14:48] PriyanshuSaxena2612 commented on #124
I am a GSSOC contributor, please assign me this issue.

[2022-03-01 14:54] Nanzzie commented on #124
I am a GSSOC'22 contributor, and I would like to add the code for the above problem statement. Please allow me to work on this issue.

Domain: Array Data Structure

Type of Contribution: Addition

Code of Conduct
I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/COD

[2022-03-01 14:57] Nanzzie commented on #138
I am a GSSOC'22 contributor, and I would like to add the code for the above problem statement. Please allow me to work on this issue.

Domain: Algorithm

Type of Contribution: Addition

Code of Conduct
I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUC

[2022-03-01 15:01] Anand-Anurag commented on #138
Sir, Can you please assign me this issue ?

[2022-03-01 15:02] miraj0507 commented on #129
Hey please go through the guidelines, This goes off-topic and will not be accepted.

[2022-03-01 15:05] miraj0507 commented on #74
Kindly give a detailed explanation for all of the basic operations, Good job go for it

[2022-03-01 15:11] miraj0507 commented on #76
Hope you have gone through the community guidelines, I am assigning you the same.Kindly add a detailed explanation of the algorithm. also it is for Longest common palindromic substring. do mention it.
Good job go for it

[2022-03-01 15:13] miraj0507 commented on #76
also make sure it comes under Dynamic programming folder

[2022-03-01 15:15] VaibhavMogha opened #150 "Jump Search"
### Description

Hi
I am a contributor at GSSOC'22, and I would like to contribute and add Jump Search, A searching algorithm. I will even add explanations and details like time/space complexity etc.
Can you please assign this issue to me?
Thank you!

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhanku

[2022-03-01 15:17] miraj0507 commented on #79
Hello, make sure you give a good description while you write the code for it , it must come under M-MathematicalAlgorithms/
follow all the community guidelines,
Good job go for it

[2022-03-01 15:18] miraj0507 commented on #80
Kindly create a new issue, we operate on first come first serve

[2022-03-01 15:19] 22chiragmodh commented on #143
**Problem**

Divide and conquer method main component for high time complexity is 8 recursive calls but Strassen algorithm is use to reduce the number of recursive call to 7 and also Divide and conquer matrix multiplication Time complexity is greater than Strassen matrix multiplication.

**Description**

Strassen's matrix multiplication is uses divide and conquer method which is a recursive algori

[2022-03-01 15:19] miraj0507 commented on #80
Kindly pick a topic , I wont be able to allow all of the abovementioned algorithms all at once

[2022-03-01 15:19] #80 closed

[2022-03-01 15:26] miraj0507 commented on #94
We work on first come first serve method .

[2022-03-01 15:29] miraj0507 commented on #91
Kindly just work on Longest Increasing Subsequence, and make sure you come up with O(n^2) as well as o(n) time complexity , failing to come up with o(n), I shall reduce the question level to level1.
all the best, Go for it

[2022-03-01 15:32] miraj0507 commented on #102
Kindly update your issue to only one problem, Stack and Queue belong to different folders and can be considered as different PR's kindly work on either Stack or Queue

[2022-03-01 15:39] PriyanshuSaxena2612 commented on #124
@Lakhankumawat, please assign me this issue to work on!

[2022-03-01 15:41] Poojaamangal commented on #116
pleae have a look at this @miraj0507

[2022-03-01 15:43] miraj0507 commented on #116
@shivam-s16 Kindly update the title as 0-1 knapsack.

[2022-03-01 15:44] IKRA786 opened #151 "nth Fibonacci Number using Matrix"
### Description

As a GSSOC'22 contributor, I would like to add clean code for finding nth Fibonacci number using Matrix which is the most optimized approach when input is something like   1<=N<=10^9 as we can't use O(N) approach. Here comes the role of the matrix method that optimizes T.C to O(LogN)
Please assign this to me.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of

[2022-03-01 15:45] miraj0507 commented on #96
We are not accepting PR's on P-Problem Statement for now, kindly go through all other folders and find a scope to write the best possible algorithm.

[2022-03-01 15:45] #96 closed

[2022-03-01 15:46] miraj0507 commented on #112
Hey are you a part of Gssoc 22, kindly raise an issue reading the guidelines

[2022-03-01 15:46] #112 closed

[2022-03-01 15:46] Poojaamangal commented on #117
please have look at this  @miraj0507

[2022-03-01 15:48] miraj0507 commented on #117
I am sorry for now we are not accepting Problem Statements, kindly go through other folders and create a best fit algorithm, We soon gonna conduct a meeting where everything is going to be clear.

[2022-03-01 15:48] #117 closed

[2022-03-01 15:49] Poojaamangal commented on #114
please have look at this @iamgunjan

[2022-03-01 15:49] miraj0507 commented on #101
Kindly update your title about the specific algorithm.

[2022-03-01 15:50] #82 closed

[2022-03-01 15:50] shivam-s16 commented on #116
@miraj0507 updated the title thanks for suggesting

[2022-03-01 15:54] Poojaamangal commented on #111
please have look at this @iamgunjan

[2022-03-01 15:57] Vinayakk404 commented on #101
Done please check

[2022-03-01 15:59] Lakhankumawat commented on #151
Please stop spamming issues you've been already assigned an issue #122

[2022-03-01 15:59] #151 closed, assigned to nobody

[2022-03-01 16:00] Izhar03 opened #152 "Updating README of R-Recursion"
### Description

The folder R-Recursion's readme file does not have the explanation for the Tower of Hanoi problem, I would love to provide a good explanation for the TOH problem. I have already worked on the problem.

### Domain

README

### Type of Contribution

Enhancement, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blo

[2022-03-01 16:03] Poojaamangal commented on #113
please have look at this @n4i9kita

[2022-03-01 16:06] Poojaamangal commented on #126
please have look at this @n4i9kita

[2022-03-01 16:07] rtp77 opened #153 "Implementing Queue using Linked List"
### Description

Description

I would like to create a queue using a linked list where data is allocated dynamically
The process starts with creating a new node and if the queue is empty and the next node added to the front and the next pointer of next towards null, if it contains an element then it will not be null so the next pointer points to new node pointer and that towards the new node point

[2022-03-01 16:08] i-am-aisha commented on #138
Greetings sir!
I solved a lot of questions on data structures and algorithms ,I can provide one of the best solution of this issue(bracket balancing using stack) with proper comments with mentioning time complexity of every step .I am a GSSOC'22 contributor and I want to contribute in your project so please assign me this issue.
Thankyou!

[2022-03-01 16:11] Poojaamangal commented on #73
please have look at this @iamgunjan

[2022-03-01 16:13] Poojaamangal commented on #121
please have look at this @miraj0507

[2022-03-01 16:15] i-am-aisha commented on #126
Greetings sir!
I solved a lot of questions on data structures and algorithms ,I can provide one of the best solution of this issue  and want to contribute these four programs  with proper comments with mentioning time complexity of every step .I am a GSSOC'22 contributor and I want to contribute in your project so please assign me this issue.
Thankyou!

[2022-03-01 16:17] miraj0507 commented on #126
Hello, kindly select one single problem statement per issue.

[2022-03-01 16:18] i-am-aisha commented on #121
Greetings sir!
I hold a strong grip on DSA specially on sorting algorithms  and I think I can provide optimal solution of iterative merge sort algorithm with proper comments with mentioning time complexity of every step .I am a GSSOC'22 contributor and I want to contribute in your project so please assign me this issue.
Thankyou!

[2022-03-01 16:18] miraj0507 commented on #124
Hello, kindly update the title , Dutch National Flag Algorithm o(N) is only going to be accepted.

[2022-03-01 16:19] nikhil25803 opened #154 "Add Data Structures and Algorithms in A- Arrays file."
### Description

Hi, I am Nikhil Raj. I'm a GSSoC participant.
I want to add all the Data Structures and Algorithms related to Arrays in A-Arrays file with proper documentation as the file is empty. I'm really want to contribute in this
Can you please assign it to me?

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.

[2022-03-01 16:19] nikhil25803 commented on #154
Hey @Lakhankumawat . Please assign it to me

[2022-03-01 16:21] miraj0507 commented on #121
Hey,kindly create a new issue and give the best shot algorithm that you can get you an approval, according to the GSSoc guidelines we can only give it to the FIRST COME FIRST SERVE, kindly create your own issue. we are more than happy to review

[2022-03-01 16:23] i-am-aisha commented on #118
Greetings sir!
I solved a lot of questions on  different types of data structures and linked list is my favourite one ,I can provide  the best solution of this issue (brute force approach as well as optimal approach) with proper comments with mentioning time complexity of every step so that one can easily get the approach without any difficulty.I am a GSSOC'22 contributor and I want to contribute

[2022-03-01 16:24] Izhar03 opened #156 "Addition of MAPS in Containers - STL"
### Description

Since Maps is a very useful STL used to store key-value pairs, I would love to add the file for maps with :

1. A proper explanation at each step
2. Describe time complexity where there is a need.
3. Notes on the definition of Maps and its implementation using RB trees

I would be glad if this issue is assigned to me.

### Domain

Standard Template Library

### Type of Contributio

[2022-03-01 16:25] miraj0507 commented on #124
No you can continue with both.

[2022-03-01 16:29] miraj0507 commented on #60
It comes under Competitive programming, go ahead.Expecting a good one from you.

[2022-03-01 16:29] uhini0201 commented on #60
Thank you so much @miraj0507

[2022-03-01 16:30] deepu0201 commented on #61
@miraj0507  please assign me this issue.

[2022-03-01 16:31] miraj0507 commented on #128
Go ahead. But make sure it's divide and conquer

[2022-03-01 16:34] miraj0507 commented on #61
Hello, So you can't just say strongly connected components, you need to mention weather it's Kosaraju,s algorithm or something else in the title. Do update it soon

[2022-03-01 16:36] Poojaamangal commented on #118
@i-am-aisha kindly create  a new issue follow GSSoC guidline FCFS-FIRST COME FIRST SERVE .

[2022-03-01 16:42] miraj0507 commented on #115
Make sure you give the O(n) solution as well, or else I need to drop down the level from level2 to level1

[2022-03-01 16:47] i-am-aisha opened #157 "Title: Tower of Hanoi"
### Description

Description:
I want to add popular data structure and algorithms problem named :"TOWER OF HANOI" which is a very famous problem and can enhance one's problem solving skill. so I want to add "tower of hanoi" problem in this  project  with proper comments with mentioning time complexity of every step in well mannered way ,so please assign me the issue of this problem.
Thnakyou!

###

[2022-03-01 16:50] ishika1501 opened #158 "Adding the "Design Add and Search Words Data Structure" ."
what to add the Trie implementation .
could you please assign me ?

[2022-03-01 16:52] ishitagupta014 opened #159 "Number of Islands"
### Description

Given a matrix of size M x N, where ‘1’ represents land, while ‘0’ represents water. The task is to return the number of islands present in the matrix. An island is a group of 1’s surrounded either vertically or horizontally.

I will write approaches using both DFS and BFS traversals continued with time and space complexity.
Please assign this to me!
I'm a GSSOC'22 contributor.

#

[2022-03-01 16:56] Neerajjr11 opened #160 "MatrixMultiplication Divide and Conquer"
### Description

I can write clean and optimize code for

MatrixMultiplication Using Divide and conquer
Will provide links to Questions related to Matrix Chain Multiplication.
@miraj0507  will you please assign this issue to me ?
I am GSSoC 2022 Participant.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/

[2022-03-01 17:01] ashuraj15 commented on #118
@Lakhankumawat As a part of GSSoC'22, Can you assign me this issue?

[2022-03-01 17:02] mjaya25 opened #161 "Inserting a node in doubly linked list"
### Description

Insert the node at nth position in the doubly linked list and display the linked list.

I will provide  the code with time and space complexity
please assign this to me. I am participating in gssoc'22.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Co

[2022-03-01 17:06] shivanithorve01 opened #162 "Creating and Displaying a Linked List"
### Description

I am GSSoC Contributor. There is no code for creating and displaying a Linked List in L-Linked List folder. So I want to add it.
@Lakhankumawat Please assign this issue to me.
Additionals -
Should I add some more functions such as  :
1. Insert a node at first index and at a particular index
2. Delete a node

### Domain

Data Structure

### Type of Contribution

Addition, Enhanceme

[2022-03-01 17:11] Lakhankumawat opened #163 "Linked List"
### Description

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularis

[2022-03-01 17:12] Lakhankumawat commented on #163
please change the domain properly

[2022-03-01 17:14] #163 closed

[2022-03-01 17:17] shivanithorve01 opened #164 "Adding Quick Sort for Singly Linked List in L-Linked List Folder"
### Description

Quick Sort of Linked List can be separately added in L-Linked List Folder for understanding how Quick sort algorithm is implemented for Singly Linked List.
Can you please assign this issue to me ?

### Domain

Data Structure

### Type of Contribution

Addition, Enhancement

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob

[2022-03-01 17:18] #128 closed

[2022-03-01 17:27] ritikaaaa177 opened #167 "Binary Search"
### Description

You are given a sorted array "arr" of n elements. Given a number d, you have to find it's first  occurrence in the array as well as its last occurrence. The array may contain duplicates.

Example

Find first & last occurrence of 33 in the given array:

Array arr = {1, 2, 9, 15, 22, 33, 33, 33, 33, 33, 39, 40, 55, 66, 77}.

Hence, the answer will be 5 and 9 respectively (0-based in

[2022-03-01 17:28] Yash-Parsana opened #168 "Sieve of Eratosthenes"
### Description

Sieve of Eratosthenes is a simple and ancient algorithm used to find the prime numbers up to any given limit. It is one of the most efficient ways to find small prime numbers.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of condu

[2022-03-01 17:28] Yash-Parsana commented on #168
i would like to work on it unser Gssoc22

[2022-03-01 17:34] deepu0201 commented on #61
@miraj0507 its kosaraju's algo

[2022-03-01 17:37] uhini0201 commented on #78
@miraj0507 I would like to work on this issue.

[2022-03-01 17:41] arsh-111 commented on #80
Topic : Singly linked list
operations : Insertion from beginning, Delete from beginning, traverse.
thank you.

[2022-03-01 17:51] mehakk-Bhatia opened #170 "Palindrome Check using recursion"
### Description

In this problem , we are given a string and our task is to check whether the string is palindrome or not recursively.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.g

[2022-03-01 17:56] rahulXbarnwal commented on #167
@Lakhankumawat Will you please Assign this issue to me. I am GSSOC'22 participant.

[2022-03-01 18:11] adham-nasr opened #171 "calculating x^n in O(log(n))"
### Description

**Description**
calculating power(x,n) using divide and conquer

Time complexity : O(log(n))
Space Complexity: O(1)
### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.gith

[2022-03-01 18:12] adham-nasr commented on #171
directory : D-DivideAndConquerAlgorithms

[2022-03-01 18:20] RajwardhanRana commented on #157
please assign this issue to me .

[2022-03-01 18:20] LakshayN opened #173 "Largest Rectangular Area in a Histogram using stacks"
### Description

Find the largest rectangular area possible in a given histogram where the largest rectangle can be made of a number of contiguous bars.
For example, consider the following histogram with 7 bars of heights {6, 2, 5, 4, 5, 1, 6}. The largest possible rectangle possible is 12

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contrib

[2022-03-01 18:30] kalash2205 commented on #153
hi @Lakhankumawat please assign me to this issue

[2022-03-01 18:31] kalash2205 commented on #161
@Lakhankumawat please assign me to this issue

[2022-03-01 18:31] kalash2205 commented on #167
please assign me to this issue

[2022-03-01 18:33] kalash2205 commented on #171
please assign me this issue @Lakhankumawat

[2022-03-01 18:52] sauradip007 opened #175 "Sudoku Solver"
### Description

This is a sudoku solver implemented on a 9x9 board using backtracking

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 19:06] chandan9369 commented on #173
Hey @iamgunjan i want to solve this issue please assign me this issue so that i start working on this issue.

[2022-03-01 19:06] iamgunjan commented on #154
@Lakhankumawat kindly have a look

[2022-03-01 19:07] chandan9369 commented on #175
@sauradip007  please assign me this issue so that i start working on this issue.

[2022-03-01 19:09] Aneesh-07 commented on #162
I would like to work on this issue under GSSoC 2022

[2022-03-01 19:09] emzm17 opened #177 "Detect a cycle in an undirected graph"
### Description

Using Disjoint Set

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-01 19:10] chandan9369 commented on #162
@iamgunjan  I want to work on this issue as a GSSOC 22 contributor please assign me.

[2022-03-01 19:15] kusumita29 opened #178 "Addition of all D-Division and Conquer Algorithm techniques"
### Description

Since Divide and Conquer algorithm is very useful for searching and sorting huge sets of data, I would like to add the files and code for this algorithm with proper explanation and the time complexity for each method.

I would like to contribute to it under GSSOC'22.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guide

[2022-03-01 19:18] LakshayN commented on #173
@iamgunjan @chandan9369  this issue was raised by me so that its assigned to me

[2022-03-01 19:19] nikhil25803 commented on #154
Yes, I checked. The A-Array folder is empty. There is no Kadane's Algorithm or Dutch National Flag Algorithm in that folder. Even the readme file is empty. I would like to add all those in a structured manner. So can you please assign it to me?

[2022-03-01 19:24] kusumita29 opened #179 "Circular Linked List"
### Description

I want to add the following codes to the Linked List folder:
1. Creating a Circular Linked List
2. Displaying a Circular Linked List
3. Inserting and deleting operations in a Circular Linked List

I would like to contribute to this under GSSOC'22.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://

[2022-03-01 19:35] chandan9369 commented on #173
@LakshayN till now this issue is not assigned to anyone that is why i asked for.

[2022-03-01 19:40] chandan9369 commented on #177
@emzm17  i want to work on this issue under GSSOC 22 so please assign me so that i start working on this issue

[2022-03-01 19:41] nikhil25803 opened #182 "Add Queue, Priority Queue and Stacks in STL"
### Description

I want to add Queue, Priority Queue, Deque, and Stack in the STL folder as a contribution under GSSoC 2022.
Please assign it to me

### Domain

Standard Template Library

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhan

[2022-03-01 19:41] Yash-Parsana opened #183 "Rabin-Karp Algorithm for Pattern Searching"
### Description

Rabin karp algorithm is pattern searching algorithm like kmp algorithm
Rabin Karp algorithm matches the hash value of the pattern with the hash value of current substring of text, and if the hash values match then only it starts matching individual characters.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](

[2022-03-01 19:42] Yash-Parsana commented on #183
i would like to work on it under Gssoc22

[2022-03-01 19:45] nikhil25803 opened #184 "Readme file for STL"
### Description

I want to add a readme file for STL with proper documentation and resources.
Please assign it to me.

### Domain

Standard Template Library

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/mai

[2022-03-01 19:49] Pragati1122 opened #185 "Reverse a Doubly Linked List"
### Description

The problem is to reverse a doubly linked list. I will be explaining and writing the code to reverse a doubly linked list with a time complexity of O(n) and a constant space complexity. The method is to swap the values of the previous and next pointers of each node in the doubly linked list. I will be explaining the same.
I am a participant at GSSoC'22.
@Lakhankumawat I want to wo

[2022-03-01 22:13] Anand-Anurag commented on #171
I'll use Binary Exponentiation and Dynamic Programming to solve this in O(log(n) time and O(1) Space, Please assign this issue to me @Lakhankumawat , I'm a contributor

[2022-03-01 22:18] Anand-Anurag commented on #185
I can solve this issue in O(n) tine and O(1) space, Please assign thos issue to me @Lakhankumawat

[2022-03-01 22:19] michaelehab opened #186 "Boyer-Moore Voting Algorithm"
### Description

The Boyer-Moore voting algorithm is one of the popular optimal algorithms which is used to find the majority element among the given elements that have more than N/ 2 occurrences.
This works perfectly fine for finding the majority element which takes 2 traversals over the given elements, which works in **O(N) time complexity** and **O(1) space complexity**.
I want to add a popular

[2022-03-01 22:21] Anand-Anurag commented on #167
I can solve this issue in O(log(n)) time and O(1) space, Please assign thos issue to me @Lakhankumawat @iamgunjan

[2022-03-02 01:05] nirUpma52 opened #187 "Middle of a given linked list"
### Description

The problem is to find the middle of the linked list .For example, if the given linked list is 1->2->3->4->5 then the output should be 3. 
If there are even nodes, then there would be two middle nodes, we need to print the second middle element. For example, if given linked list is 1->2->3->4->5->6 then the output should be 4. I will write the code using two pointers.
I am a parti

[2022-03-02 02:53] Mrjoy832 opened #188 "Bipartite Graph"
### Description

**Description**
Hi, I am **TRIDIB BAG**.  I'm a **GSSoC22 participant.**
I want to add algorithm ,approach and code about **Bipartite Graph** in **G-Graphs** file with proper documentation as there is nothing regarding Bipartite Graph . I'm really want to contribute in this important question .

Can you please assign it to me?

### Domain

CPP

### Type of Contribution

Addition,

[2022-03-02 03:28] kalash2205 commented on #187
please assign me this issue

[2022-03-02 03:28] kalash2205 commented on #185
please assign me this

[2022-03-02 04:09] miraj0507 commented on #47
Create a forked copy of the repo and then in the designated folder create the changes and request for a pull request

[2022-03-02 04:18] rutika1823 commented on #111
Please, Can you assign this to me @Lakhankumawat

[2022-03-02 04:20] ayushi1210 opened #189 "Sort - Radix using Bucket and Counting"
### Description

Radix Sort -
The idea of Radix Sort is to do digit by digit sort starting from least significant digit to most significant digit. Radix sort uses counting sort as a subroutine to sort.

Bucket Sort -
Bucket sort is mainly useful when input is uniformly distributed over a range.

Another way of the implementation of the radix sort while using bucket sort technique
As counting sort

[2022-03-02 04:23] Gaurika-Gupta opened #190 "Bitonic Subsequences"
### Description

Solve the Bitonic Subsequence problem using Dynamic Programming in CPP. It is a very common Interview question asked in various companies.

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnC

[2022-03-02 04:23] Gaurika-Gupta commented on #190
Please assign me this issue under GSSOC'22.

[2022-03-02 04:41] adham-nasr opened #193 "Adding Segment tree data structure"
### Description

A segment tree is a tree data structure used for storing information about intervals, or segments. It allows querying which of the stored segments contain a given point.

Time complexity :
build - O(n)
Insert - O(log n)
update- O(log n)

- I want to add the code to the **A-AdvancedDataStructures** directory
- I am participating in gssoc'22.

### Domain

Data Structure

### Type of

[2022-03-02 04:55] rutika1823 commented on #179
@Lakhankumawat can u please assign me to this issue

[2022-03-02 04:59] rutika1823 commented on #162
I would like to work on 2nd issue under GSSoC 2022 Can you please assign this to me

[2022-03-02 05:05] VaishnaviMandloi opened #195 "Infix to postfix under stack"
### Description

Description

Want to contribute ( GSSOC'22  )

I will add this following  things

1. Parenthesis Balancing

check that whether the pairs and the orders of “{“, “}”, “(“, “)”, “[“, “]” are correct in expression or not using stack in O(n) time complexity and O (n) auxiliary space.

2. Infix to prefix or postfix conversion

 infix expressions that we use .  Convert them to  prefix or

[2022-03-02 05:06] VaishnaviMandloi commented on #195
Please assign this to me , really excited to contribute to project under GSSOC'22

[2022-03-02 05:25] varsha080 commented on #102
I have updated the issue. Kindly assign the task to me!

[2022-03-02 05:27] Mrjoy832 opened #198 "Dutch National Flag Algorithm"
### Description

Hi, I am TRIDIB BAG. I'm a GSSoC22 participant.
I want to add algorithm ,approach and code about Dutch National Flag  in A-Arrays folder with proper documentation as there is nothing regarding it . I'm really want to contribute in this important question .

Can you please assign it to me?

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I foll

[2022-03-02 05:35] DlVYANSH opened #199 "Sort the linked list"
### Description

Given head of the linked list, Sort the linked list in ascending/descending order

I am participating in gssoc'22. please assign this to me

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhanku

[2022-03-02 05:36] AastikSharma05 opened #200 "Equal Sum Partition Problem"
### Description

I want to add popular data structure and algorithms problem named :"Equal Sum Partition" which is a very famous problem and can enhance one's problem solving skill.

The problem is to tell if a given array can be divided into 2 subsets such that sum of both the subsets is same.

For Example:
Input: 1 5 11 5
Output: True     (as there can be two subsets (1,5,5) and (11) such that s

[2022-03-02 05:38] AastikSharma05 commented on #200
I would like to work on it under Gssoc22 @iamgunjan

[2022-03-02 05:48] satyam4484 commented on #47
It is solved

[2022-03-02 05:50] talikagupta opened #201 "Topological Sort"
### Description

Topological sort is a standard graph algorithm. It is only for Directed Acyclic Graph (DAG) and is a linear ordering of vertices such that for every directed edge u v, vertex u comes before v in the ordering.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/

[2022-03-02 05:50] talikagupta commented on #201
I want this assigned to me under GSSOC. Thanks!

[2022-03-02 05:52] DlVYANSH opened #202 "Readme file for linked list"
### Description

I will provide description about the linked list and everything in the readme file
please assign this to me i am also participating in the gssoc'22

### Domain

README

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lak

[2022-03-02 05:54] DlVYANSH opened #203 "Find the length of the linked list"
### Description

Given the head of the linked list, program will find the length of the linked list with various approaches.

gssoc'22

please assign to me

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankum

[2022-03-02 05:58] DlVYANSH opened #204 "Implementation of queue using array"
### Description

I will provide the program to implement the queue using array (every operation of queue i.e. enqueue, dequeue, isempty, isfull etc)

I will provide proper description about the  queue as well as the comments in the code
gssoc'22

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhanku

[2022-03-02 06:00] DlVYANSH opened #205 "Implementation of queue using linked list"
### Description

Our program will implement the queue using linked list with operation like enque, deque, isempty, isfull, display the queue etc.

gssoc'22
please assign this to me

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](htt

[2022-03-02 06:04] DlVYANSH opened #206 "Implementation of double ended queue"
### Description

Our program will implement the double ended queue with operation like enque, deque, isempty, isfull, display the queue etc.

I will provide proper description about the double ended queue as well as the coments in the code

gssoc'22
please assign this to me

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines

[2022-03-02 06:05] DlVYANSH opened #207 "Implementation of circular queue"
### Description

Our program will implement the circular queue with operation like enque, deque, isempty, isfull, display the queue etc.

I will provide proper description about the circular queue as well as the comments in the code

gssoc'22
please assign this to me

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https

[2022-03-02 06:12] aikanshi-1234 opened #208 "Find all the Subarrays"
### Description

 Problem is to  find all the _subarray_ in the array
Given an array write an algorithm to print all the subarrays.

![Screenshot (42)](https://user-images.githubusercontent.com/81483787/156309292-f6caccbb-4cec-4ced-887c-071d05b52005.png)

 Algorithm for the following given problem-
1>Traverse the array from start to end.
2>From every index start another loop from I to the end of t

[2022-03-02 06:20] aikanshi-1234 opened #209 "Backtracking-N Queen problem"
### Description

Problem.
It's an interesting problem.
The N -Queen Problem is a puzzle that is solved through Backtracking with the algorithm.

Algorithm for the following problem-

1) Start in the leftmost column

2) If all queens are placed
    return true
3) Try all rows in the current column.
   Do following for every tried row.
    a) If the queen can be placed safely in this row
       then

[2022-03-02 06:40] Susmita-Dey commented on #126
Okay, I would like add the Circular Linked list first. I'm a GSSoC'22 contributor. Kindly assign it to me.

[2022-03-02 07:50] Samr2002 opened #212 "stock span problem"
### Description

The stock span problem is a financial problem where we have a series of n daily price quotes for a stock and we need to calculate span of stock’s price for all n days.
The span Si of the stock’s price on a given day i is defined as the maximum number of consecutive days just before the given day, for which the price of the stock on the current day is less than its price on the giv

[2022-03-02 08:28] Himanshu1808 commented on #205
I would like to work on this issue, can you please assign me? I am a GSSOC'22 participant.
Kindly assign me this issue.

[2022-03-02 09:26] SidharthSarangi opened #215 "Egg Dropping Puzzle- DYNAMIC PROGRAMMING"
### Description

I can write clean and optimized code for the famous yet tough EGG DROPPING problem using DP, under the Dynamic Programming file.
I will also add other links that can help students understand the intuition behind it.
I am GSSOC'22 participant. please assign me to this @iamgunjan @Lakhankumawat @miraj0507

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduc

[2022-03-02 09:31] aikanshi-1234 commented on #187
Please assign this issue to me, and I can add time complexities, space complexities, algorithm, brute force approach, and the optimal solution to this problem.

[2022-03-02 09:33] aikanshi-1234 commented on #208
This issue is created by me

[2022-03-02 10:02] anu-oss commented on #87
may i know the deadline for this issue?

[2022-03-02 11:11] sarikamuthu opened #216 "Shell Sort"
### Description

I can write optimized code and give proper explanation for shell sort which is unavailable.Please assign me the project.
sarikamuthu222@gmail.com

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhank

[2022-03-02 11:50] Gaurika-Gupta opened #217 "Maximum Circular Subarray Sum"
### Description

Time Complexity: O(N)
Space Complexity: O(1)

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-02 11:52] Gaurika-Gupta commented on #217
Can you assign me the issue after adding the GSSOC'22 labels? I will solve by using Kadane's Algorithm. I am a Contributor under GSSOC'22

[2022-03-02 11:56] gaurangSaraswat-07 opened #218 "Title Updating readme file of sorting algorithm"
### Description

Description: The readme file in the subfolder named sorting algorithm is empty, so updating the readme file by writing a description about all the present sorting algorithms and making a generalised template.

### Domain

README

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Con

[2022-03-02 11:58] gaurangSaraswat-07 commented on #218
@Lakhankumawat Recently I created a pull request of adding counting sort to the sortingAlgorithm folder and I was asked to write a description of the algorithm in readme file but there was no certain template and it was empty. So I was thinking of updating it and also write description of every sorting algorithm present already in the folder? So can you please assign me this issue.

[2022-03-02 12:20] SidharthSarangi commented on #215
Please assign me to this @Lakhankumawat

[2022-03-02 12:23] n4i9kita commented on #218
@gaurangSaraswat-07 I am sorry. I had an  immediate plans and had to go out of town for some work. I have prepared the template, and added the documentation for bubble sort. I will reach back home by tonight. I will push it by morning.

I am really sorry.
Just give me some time, then you add the documentation for counting Sort Algorithm.

[2022-03-02 12:27] n4i9kita commented on #208
One issue at a time @aikanshi-1234. Pick one, and the other one would be closed right now.

[2022-03-02 12:29] n4i9kita commented on #206
@DlVYANSH, you can raise and be assigned one issue at a time?

Pick one issue, and the other ones would be closed for now.

[2022-03-02 12:33] ranimanya opened #219 "Kosaraju's algorithm"
### Description

Kosaraju's algorithm (named after Indian-American scientist S. Rao Kosaraju) is used to solve the problem of strongly connected components. A directed graph is strongly connected if there is a path between all pairs of vertices. We order the vertices in decreasing order of finish time of DFS. Then we reverse all the edges of the graph. The type of graph won’t change, as a SCC (Str

[2022-03-02 12:33] n4i9kita commented on #189
@ayushi1210, hey there.
Someone else has already been assigned Counting Sort Algorithm implementation. You can go with Radix sort.
One of the mentors will assign you the issue soon.

[2022-03-02 12:34] n4i9kita commented on #184
@nikhil25803 please be more descriptive about what you plan to add in the documentation section for STL

[2022-03-02 12:35] ayushi1210 commented on #189
Ok. I will go ahead with radix sort and bucket sort then. Please assign me this.

[2022-03-02 12:35] aikanshi-1234 commented on #208
I will go with subarrays
Thankyou

[2022-03-02 12:36] n4i9kita commented on #184
@nikhil25803, one issue at a time. Pick the one that you wish to work on, the other one would be closed. If you don't choose soon, then we would do it on our end.

[2022-03-02 12:37] n4i9kita commented on #178
@kusumita29, be more specific. Nothing like "all" the algorithms. Pick one and mention it here, or we would close this issue, and you can create a new one for the same.

[2022-03-02 12:38] gp919934 opened #220 "Trapping-rain-water problem"
### Description

Given n non-negative integers representing height of building whose width is 1, compute how much water it is able to trap after raining.
using both brute force approach and stack method.

Please assign me this issue, @Lakhankumawat
I'm Gssoc'22 participant.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](htt

[2022-03-02 12:39] n4i9kita commented on #175
@sauradip007 please explain your approach in a more descriptive manner.

[2022-03-02 12:57] gaurangSaraswat-07 commented on #218
@n4i9kita OKk! I will wait and after you will push the template, I will write the description in that particular format.

[2022-03-02 12:58] svenkat19 opened #221 "Reverse a Singly Linked list."
### Description

I can come up with a simple and easy to understand code to Reverse a Singly Linked List.

Please Assign (GSSOC'22)

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/

[2022-03-02 12:58] n4i9kita commented on #189
@ayushi1210
Pick one right now. Mention it here.
Then, create another issue for another one.
I thought you were implementing radix using bucket sort.
You can go with Bucket sort in this issue, and create another issue for Radix sort if you want.

[2022-03-02 13:00] ayushi1210 opened #222 "Radix Sort"
### Description

Implementation of Radix sort using bucket sort.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-02 13:01] ayushi1210 commented on #189
Ok. Done

[2022-03-02 13:02] n4i9kita commented on #189
Also, you can create an issue after one of your current issue is resolved, closed, or merged.

[2022-03-02 13:07] ayushi1210 commented on #189
Ok. This time I already created new issue. Will keep in mind from the next time.

[2022-03-02 13:11] aikanshboyal commented on #208
I am a contributor under GGSOC '22. Please assign me this issue @n4i9kita

[2022-03-02 13:11] rahulXbarnwal opened #223 "Boruvka's Algorithm for Minimum Spanning Tree"
### Description

Boruvka's Algorithm is a way to find a minimum spanning tree — a spanning tree where the sum of edge weights is minimized. It was the first algorithm developed (in 1926) to find MSTs; Otakar Boruvka used it to find the most efficient routing for an electrical grid.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guideli

[2022-03-02 13:13] rahulXbarnwal commented on #223
I am a GSSoC'22 participant. I really want to contribute in this issue. Please assign this issue to me @Lakhankumawat

[2022-03-02 13:20] #222 closed

[2022-03-02 13:21] nikhil25803 commented on #184
I want to add a readme file that contains the explanation, content and use of STL components like containers, iterators, algorithms, function objects, and allocators.

[2022-03-02 13:25] n4i9kita commented on #108
@rajprem4214, be more specific. Which folder do you plan to add in?
Sliding window technique is best explained taking an example problem, So, explain properly how you are going to implement it.

[2022-03-02 13:53] miraj0507 commented on #167
Binary search has already been assigned to someone earlier, can you modify your problem with binary search? There is so much one can do with binary search??

[2022-03-02 13:55] VaibhavMogha commented on #150
@Lakhankumawat Please assign this to me.
Thank you!

[2022-03-02 14:05] DhairyaWankhade opened #225 "Solution for Josephus Problem"
### Description
**Josephus Problem Statement** :- We are given the natural numbers n and k. All natural numbers from 1 to n are written in a circle. First, count the k-th number starting from the first one and delete it. Then k numbers are counted starting from the next one and the k-th one is removed again, and so on. The process stops when one number remains. It is required to find the last numb

[2022-03-02 14:07] n4i9kita commented on #113
@lagwalsahil21821 go forth with the second part, i.e. find the index of first and the last occurrence of an element in a sorted array.

Make two separate functions : (1) 1st occurrence, (2) 2nd occurrence.

As an extension... you can write a third function to print the count of an element in a sorted array.

Take the input array and the element to be searched from the user.

[2022-03-02 14:08] n4i9kita commented on #113
@lagwalsahil21821, update the title, too.

[2022-03-02 14:29] n4i9kita commented on #184
Pick one.
Mention a proper plan.
I think, we don't need to talk about plagiarism, and its consequences.
I hope you'd be able to write in proper English.
Start with containers, and before I assign you this issue, I need a proper plan.

1. Which container?
2. What all you will write in a container description?
3. Functions in a container that you'd explain.
4. What are the resources that you'd be us

[2022-03-02 14:37] n4i9kita commented on #188
@Mrjoy832 , you can work on this.
In this issue, you are going to implement an algorithm to check whether a graph is Bipartite or not. Send a PR regarding the same. If merged, then you can create a second issue, or in continuation to this issue, to implement documentation part.

[2022-03-02 14:39] n4i9kita commented on #188
You will be assigned the issue soon

[2022-03-02 14:49] Lakhankumawat commented on #150
Please mention the directory in which you'll be adding this algorithm or problem statement .
Your idea seems good but please describe it and i'll be glad to accept it .

[2022-03-02 14:51] Lakhankumawat commented on #132
Please mention the directory in which you'll be adding this algorithm or problem statement .
Your idea seems good but please describe it and i'll be glad to accept it .

[2022-03-02 15:10] Lakhankumawat commented on #113
Please also mention in which directory of project will your algorithm or problem-statement will go .

[2022-03-02 15:11] AnishaRoy1 opened #226 "Implementation of double link list."
### Description

The program will implement the double link list with operation like insert, check empty, delete, count, search, reverse, display the double link list etc.

I will provide proper description about the double ended link list as well as the comments in the code.

gssoc'22
please assign this to me.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

-

[2022-03-02 15:11] Lakhankumawat commented on #113
Depending on your response will decide to accept your issue or not .

[2022-03-02 15:14] AnishaRoy1 opened #227 "implementation of the circular link list"
### Description

The program will implement the circular link list with operation like insert, check empty, delete, count, search, display the circular link list etc.

I will provide proper description about the circular link list as well as the comments in the code.

gssoc'22
please assign this to me.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I fo

[2022-03-02 15:15] Lakhankumawat commented on #187
This issue will be assigned to @nirUpma52  beacause he came up with issue first .

[2022-03-02 15:16] AnishaRoy1 opened #228 "implementation of the double circular link list"
### Description

The program will implement the double ended circular link list with operation like insert, check empty, delete, count, search, display the double ended circular link list etc.

I will provide proper description about the double ended circular link list as well as the comments in the code.

gssoc'22
please assign this to me.

### Domain

Data Structure

### Type of Contribution

Ad

[2022-03-02 15:16] Lakhankumawat commented on #187
For contribution and more guidelines i would recommend you to go through this
tutorial video of the project [here](https://youtu.be/7UgC3HDETRA), thanks.

[2022-03-02 15:19] Lakhankumawat commented on #125
@Nanzzie  issue is assigned to you, you can start working on it because , @DlVYANSH  is already assigned other issue .

[2022-03-02 15:19] Lakhankumawat commented on #125
Hey @DlVYANSH  , You can only create one issue at a time . I would recommend you to go through this tutorial video of the project [here](https://youtu.be/MRXcoxDillk), thanks.

[2022-03-02 15:20] Lakhankumawat commented on #207
Hey @DlVYANSH  , You can only create one issue at a time . I would recommend you to go through this tutorial video of the project [here](https://youtu.be/MRXcoxDillk), thanks.

[2022-03-02 15:21] Lakhankumawat commented on #206
Hey @DlVYANSH  , You can only create one issue at a time . I would recommend you to go through this tutorial video of the project [here](https://youtu.be/MRXcoxDillk), thanks.

[2022-03-02 15:22] Lakhankumawat commented on #205
This issue is assigned to @Himanshu1808  , @Himanshu1808  you can start working on the issue .

[2022-03-02 15:23] Lakhankumawat commented on #205
For contribution and more guidelines i would recommend you to go through this
tutorial video of the project [here](https://youtu.be/7UgC3HDETRA), thanks.

[2022-03-02 15:24] Lakhankumawat commented on #204
Hey @rutika1823 @DlVYANSH  , You can only create one issue at a time . I would recommend you to go through this tutorial video of the project [here](https://youtu.be/MRXcoxDillk), thanks.

[2022-03-02 15:24] #204 closed, assigned to nobody

[2022-03-02 15:26] #203 closed

[2022-03-02 15:26] #199 closed, assigned to nobody

[2022-03-02 15:27] #111 closed

[2022-03-02 15:27] uhini0201 commented on #78
@miraj0507 are you there???

[2022-03-02 15:29] n4i9kita commented on #162
@shivanithorve01, one issue at a time. You cannot create another issue until an issue has, been resolved, closed or merged. Please choose one of your issues, and we  will close the other issues.
Make sure to keep this in mind in the future.

[2022-03-02 15:31] n4i9kita commented on #158
@ishika1501 please describe properly what you wish to do.

[2022-03-02 15:36] shivanithorve01 commented on #162
@n4i9kita Sorry for the inconvenience caused. It won't happen later. My PR is approved for previous issue and I have closed my other issue as well. So kindly assign this issue to me.

[2022-03-02 15:37] rutika1823 commented on #207
Okay! Thank you

[2022-03-02 15:39] n4i9kita commented on #154
@nikhil25803, pick one algorithm that you wish to implement, and no else has raised an issue and assigned the same.

You can work on one algorithm at a time, so just one issue at a time.
Either mention the algorithm that you will be working on here, or create a new issue with proper description of the algorithm that you wish to implement, along with time complexity and other details.

[2022-03-02 15:48] ritikaaaa177 commented on #167
Hello @miraj0507 now please assign this to me I have made required changes.

[2022-03-02 15:52] Poojaamangal commented on #182
Hey @nikhil25803  , make your issue a descriptive one so it is easy for us.

[2022-03-02 15:55] n4i9kita commented on #226
@AnishaRoy1 you can create just one issue at a time.
 Until an issue has been resolved, closed or merged, you cannot create another issue.

[2022-03-02 16:02] n4i9kita commented on #184
@nikhil25803 Vector it is in your case right now.

[2022-03-02 16:09] svenkat19 commented on #221
Um.. I actually created the issue so that I can do it 😬😬

[2022-03-02 16:09] Lakhankumawat commented on #152
Hey @Izhar03  , You can only create one issue at a time . I would recommend you to go through this tutorial video of the project [here](https://youtu.be/MRXcoxDillk), thanks.

[2022-03-02 16:09] #152 closed

[2022-03-02 16:13] AnishaRoy1 commented on #221
Okay Sure .

[2022-03-02 16:16] #75 closed

[2022-03-02 16:45] lagwalsahil21821 commented on #113
ok. I'll do it

[2022-03-02 16:58] nikhil25803 commented on #184
Vectors files are already added in the containers folder.
I want to make a readme file for STL which will have the following elements :
1. Will start with containers as most of its files are already there so that it will be easy for the reader to understand and implement the code.
2. In containers I will describe Vector, Set, and List.
3. When to use them and how to implement them in a function.
4

[2022-03-02 16:59] YasmeenKararty opened #231 "Implementation of Shell Sort"
### Description

ShellSort is a variation of Insertion Sort. In insertion sort, we move elements only one position ahead. When an element has to be moved far ahead, many movements are involved. The idea of shell sort is to allow the exchange of far items.
@miraj0507 will you please assign this issue to me ?
I am GSSoC 2022 Participant.

### Domain

Algorithm

### Type of Contribution

Addition

##

[2022-03-02 17:01] Rishi838 opened #232 "Longest Increasing Subsequence - O(n)"
### Description

The program will tell how to find longest increasing subsequence in an array with both recursive as well as dynamic programming approach.
I will provide proper description about the logic of the program using comments in the code.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumaw

[2022-03-02 17:08] Izhar03 commented on #156
So I need to make changes in pre-existing file of Map.cpp in HashMap? So no addition of Maps right only updating current maps with my map explanation?

[2022-03-02 17:09] nikhil25803 commented on #182
Queue, Priority Queue, Deque, and Stack are the container adaptors that help to implement sequential containers in a different manner. Where Stack (a LIFO data structure) and Queue(a FILO data structure). I found these files missing in the Containers section of the STL folder in this repository. I want to add  their programs with all methods mentioned like push(), pop(), top(), size(), etc. So ple

[2022-03-02 17:17] nikhil25803 commented on #154
I want to add Kadane's Algorithm which is used to find the maximum possible sum of a contiguous sub-array. It will be of time complexity O(N), where N is the number of elements in the array.

[2022-03-02 17:28] Mrjoy832 commented on #188
Hey @n4i9kita  I have created PR#236 kindly check and merge if all are right

[2022-03-02 17:33] kalash2205 opened #237 "VECTORS"
### Description

Vectors are very important and beneficial in cpp and i want to make vector class  and do basic operations on vectors like insertion, deletion etc, which people can include as a header file in any of their code. Please assign me this issue

thank you
gssoc '22 contributor

### Domain

Standard Template Library

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow

[2022-03-02 17:34] deepu0201 commented on #61
@miraj0507 please assign this algo to me.

[2022-03-02 17:49] Rashmisingh-18 opened #238 "Kadane's Algorithm"
### Description

This algorithm is used to find the sum of contiguous subarray within a one-dimensional array of numbers that has the largest sum.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/

[2022-03-02 18:04] miraj0507 commented on #238
I am sorry, this has already been assigned can you come up with a different algo

[2022-03-02 18:06] miraj0507 commented on #225
Hello, you need to explain the problem as well and present it so that your chances increse.

[2022-03-02 18:09] kalash2205 opened #239 "OOPS - contructors and destructors"
### Description

C++ is an object oriented language so we should be familiar with oops concept at least the basics of it.
I would include the basics of oops like classes and contructors, default, parameterized, copy contructors, destructors, etc .
I would make a class and make a function of all these things inside the class and in the main program demonstrate their uses.

please assign me this iss

[2022-03-02 18:11] miraj0507 commented on #217
Sure, while describing please describe it properly,go ahead and do suggest the O(N) time complexi algo as well

[2022-03-02 18:15] VaibhavMogha commented on #150
Hey, @Lakhankumawat @miraj0507 Should I start working on it?
Thank you!

[2022-03-02 18:17] miraj0507 commented on #61
Kindly update the title to Kosaraju algorithm

[2022-03-02 18:19] miraj0507 commented on #188
Hello you haven't already been assigned but you merged it, prior assignment

[2022-03-02 18:21] miraj0507 commented on #186
Thank you for a good description but this issue has already been taken up, keep it up and create a new issue

[2022-03-02 18:21] #186 closed

[2022-03-02 18:24] miraj0507 commented on #154
@nikhil25803 kandes have already been taken up by someone earlier , you need to go with something else

[2022-03-02 18:28] miraj0507 commented on #198
I am sorry, it's already assigned.

[2022-03-02 18:28] #198 closed

[2022-03-02 18:33] kusumita29 commented on #178
@n4i9kita I would like to contribute on Quick Sort algorithm under DAC technique.

[2022-03-02 18:39] salahashraf253 opened #240 "Implementation of different sorting algorithms using CPP"
### Description

Description
there are many sorting algorithms with different time , space complexity .
I will implement counting sort and explain it's complexity .

I am participating in gssoc'22. please assign this to me.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Co

[2022-03-02 18:40] yaman-694 opened #241 "Basic and medium level question program code of linked list"
### Description

GSSOC'22 contributor

I want to add solution of linked list question level basic and medium.

please assign me this issue.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/bl

[2022-03-02 18:46] Mrjoy832 commented on #188
Will I have to do anything else on it?

[2022-03-02 18:48] nikhil25803 commented on #182
Thank You. On it!

[2022-03-02 19:05] PeritusDeveloper opened #243 "Counting Sort"
### Description

Non-Comparison Sorting Algorithms sort numbers without comparing them.
I would like to implement Counting Sort
Counting Sort is a stable algorithm which sorts elements using frequency count of each number.
The README file will also be updated for this algorithm

I am GSSoC 2022 Contributor.
@miraj0507 Can you assign me this issue?

### Domain

Algorithm

### Type of Contribution

[2022-03-02 20:05] michaelehab opened #245 "Rod Cutting Problem using Dynamic Programming"
### Description

Problem Statement:
Given a rod of length n and a list of rod prices of length i, where 1 <= i <= n, find the optimal way to cut the rod into smaller rods to maximize profit.
Example:
length[] = [1, 2, 3, 4, 5, 6, 7, 8]
price[] = [1, 5, 8, 9, 10, 17, 17, 20]
rod length = 4
Best: Cut the rod into two pieces of length 2 each to gain revenue of 5 + 5 = 10

Solution:
We are given an ar

[2022-03-02 20:08] priyanshi-2001 opened #246 "Bit Manipulation"
### Description

Program to check if two integers are of opposite sign using bits. I will provide proper description about how it is done in O(1) complexity.

Please assign this issue to me.

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](http

[2022-03-02 21:03] AshmitKesarwani commented on #177
@emzm17 Sir I would like to take this , Can you Please assign me ?
I have understood the problem and can Implement it in O(V+E) time using a optimal DFS approach .

I am also a participant of GSSoC'22.

[2022-03-02 21:12] AshmitKesarwani commented on #178
@n4i9kita  Ma'am I would like to take this , Can you Please assign me ?
I have understood the problem and can contribute on Binary Search Algorithm i.e. under DC .

I am also a participant of GSSoC'22.

[2022-03-02 21:17] AshmitKesarwani commented on #183
@miraj0507 Sir I would like to take this , Can you Please assign me ?
I have understood the problem and can contribute towards this.

I am also a participant of GSSoC'22.

[2022-03-02 21:19] AshmitKesarwani commented on #21
I would like to take this , Can you Please assign me ?
I have understood the problem and can contribute on towards this.

I am also a participant of GSSoC'22.

[2022-03-02 22:06] rittikadeb opened #248 "Asymmetric Encryption Using Cryptographic Algorithm"
### Description

Hi I am a GSSOC'22 contributor.
This project uses Asymmetric encryption(RSA Algorithm) for windows platform to enforce a file encryption technique to protect messages.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](http

[2022-03-03 02:58] Lakhankumawat commented on #240
You can only contribute one sorting algorithm at a time in one issue not many and it will be good for you to because once your PR is created you'll be able to create new issue for next sorting algorithm , having different prs will give you more points

Edit your Desc. and come up with only one which is not present in repo and is not raised as an issue of other contributors.

[2022-03-03 03:04] Lakhankumawat commented on #243
You can only contribute one sorting algorithm at a time in one issue not many and it will be good for you to because once your PR is created you'll be able to create new issue for next sorting algorithm , having different prs will give you more points

Edit your Desc. and come up with only one which is not present in repo and is not raised as an issue of other contributors.

I would recommend you

[2022-03-03 03:16] Rashmisingh-18 opened #249 "Array basics concepts like array rotations, reversal algorithms, rearrangements and order statistics"
### Description

This includes some questions of array rotations, reversal algorithms, rearrangements and order statistics

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/C

[2022-03-03 03:19] Lakhankumawat commented on #202
Please descibe your issue in details and also mention in which directory you'll be contributing . Follow the README guidelines as present in official README of the project .

[2022-03-03 03:21] Rashmisingh-18 opened #250 "Number Theory Algorithms"
### Description

This includes number theory algorithms like Euclid GCD, Prime number, Sieve of Eratosthenes and Modulo Arithmetics.

### Domain

Competitive Programming

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/

[2022-03-03 03:21] Rashmisingh-18 commented on #250
Please assign this issue to me, @Lakhankumawat

[2022-03-03 03:22] Rashmisingh-18 commented on #249
Please assign this issue to me, @Lakhankumawat

[2022-03-03 03:30] Nanzzie commented on #250
I want to contribute to this problem sir please assign this issue to me @Lakhankumawat

[2022-03-03 03:44] Lakhankumawat commented on #250
@Nanzzie   You can only work on one issue at a time . I would recommend you to go through this tutorial video of the project [here](https://youtu.be/MRXcoxDillk), thanks.

[2022-03-03 03:44] Lakhankumawat commented on #250
@Rashmisingh-18  You can only work on one algorithm or problem statement in one issue at a time . I would recommend you to go through this tutorial video of the project [here](https://youtu.be/MRXcoxDillk), thanks.

[2022-03-03 03:48] StarEditorBoy opened #252 "Title"
### Description

Description

### Domain

Competitive Programming

### Type of Contribution

Refactoring

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-03 03:48] StarEditorBoy opened #253 "Title"
### Description

Description

### Domain

Competitive Programming

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-03 03:49] StarEditorBoy opened #254 "Title"
### Description

Description

### Domain

CPP

### Type of Contribution

Refactoring

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-03 03:49] StarEditorBoy opened #255 "Title"
### Description

Description

### Domain

CPP

### Type of Contribution

Refactoring

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-03 03:49] StarEditorBoy opened #256 "Title"
### Description

Description

### Domain

Competitive Programming

### Type of Contribution

Refactoring

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-03 03:50] #252 closed

[2022-03-03 03:50] #253 closed

[2022-03-03 03:50] #254 closed

[2022-03-03 03:50] #256 closed

[2022-03-03 03:54] ShruthiKartik opened #257 "Prefix Sum in 1-D array"
### Description

Prefix Sum is a pre-computation technique which is used in competitive programming.

I want to add this important technique. I will add explanation and write clean code of prefix Sum in 1-D array.
Please assign me this issue.

### Domain

Competitive Programming

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/La

[2022-03-03 04:22] #228 closed

[2022-03-03 04:22] #226 closed

[2022-03-03 04:24] n4i9kita commented on #218
@gaurangSaraswat-07 go on. Add for Counting sort Algorithm.

[2022-03-03 04:33] naugsss opened #259 "Kadane's Algorithm"
### Description

Kadane's Algorithm is a more optimized technique of PREFIX SUM which is used in competitive programming and problem solving.
Using this technique will help us to reduce the time complexity of an algorithm.

I want to add this technique and provide a detailed code with explanation, So please assign me this issue

### Domain

Competitive Programming

### Type of Contribution

Additi

[2022-03-03 04:49] PeritusDeveloper commented on #243
I will implement Counting Sort first
Radix and Bucket Sort will be implemented in next issues after merging PR for counting sort

[2022-03-03 05:28] sejalc22 opened #262 "Library Management System - Doubly Linked List"
### Description

Library Management System shall maintain various linked lists:
&emsp; The Inventory
&emsp; Issue List
&emsp; Waiting List
Features:
&emsp; Add record of new book to inventory
&emsp; Delete record of book from inventory
&emsp; Display inventory
&emsp; Issue copy of a book to student
&emsp; Accept returned copy of a book from student
&emsp; Display Issue List
&emsp; Display Waiting

[2022-03-03 05:40] Anuragkr07 commented on #259
I want to work on this issue under gssoc 22

[2022-03-03 05:49] BabyElias opened #263 "Fisher-Yates Shuffling Algorithm"
### Description

I would like to create a new folder for algorithms related to sequences & add Fisher-Yates Shuffling algorithm to it.
This algorithm helps generate random arrangements of  a given sequence in the most optimal time possible i.e O(n) time complexity.

I am a GSSOC'22 contributor.
Please assign me this issue.

### Domain

Competitive Programming

### Type of Contribution

Addition

#

[2022-03-03 05:49] Mrjoy832 opened #264 "LRU Cache"
### Description

Hi, I am **TRIDIB BAG**. I'm a GSSoC22 participant.
I want to add algorithm ,approach and code about **LRU Cache in L-LinkedList folder** with proper documentation including proper explanation and code  as there is nothing regarding it . I'm really want to contribute in this important question .

Can you please assign it to me?

### Domain

CPP

### Type of Contribution

Addition

[2022-03-03 05:50] Anuragkr07 opened #265 "0/1 Knapsack problem - Subset Sum Problem"
### Description

I want to add a 0/1 Knapsack application problem using the top-down approach in the Dynamic Programming Folder
Problem:
**Subset Sum Problem**

Problem Description:

In this problem, we will be given a set of non-negative integers and a value sum. We have to determine if there is a subset of the given set with a sum equal to the given sum.
I will solve this using dynamic programmi

[2022-03-03 05:50] Anuragkr07 commented on #265
I want to work on this issue as a part of GSSOC'22

[2022-03-03 05:54] adeshpratapsingh opened #266 "implementation of the circular doubly linked list"
### Description

The program will implement the circular doubly link list with operation like insert, check empty, delete, count, search, display the circular doubly link list etc.

I will provide proper description about the circular doubly link list as well as the comments in the code.

gssoc'22
please assign this to me.

### Domain

Data Structure

### Type of Contribution

Addition

### Code o

[2022-03-03 06:02] ranimanya commented on #219
Please assign me this issue, I'm Gssoc'22 participant....

[2022-03-03 06:25] ankitashaw514 opened #267 "Finding All the Articulation Points in a Graph"
### Description

I want to Implement an Algorithm to find all the Articulation Points (single points whose failure would split the network into 2 or more components) in a given Graph.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https

[2022-03-03 06:26] ankitashaw514 commented on #267
I would like to work on this issue under Gssoc22.

[2022-03-03 06:32] stutimohta20 opened #268 "LCA of a Binary tree"
### Description

Lowest Common Ancestor of a binary tree using cpp

### Domain

Data Structure

### Type of Contribution

Documentation

### Code of Conduct

- [ ] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-03 06:33] stutimohta20 commented on #268
I would like to work on this issue under GSSOC'22

[2022-03-03 06:35] n4i9kita commented on #6
If you really want to learn.
@DlVYANSH the issues that you have raised earlier, have you sent a pr for them? And, have they been reviewed yet?

[2022-03-03 06:40] Avik-creator commented on #6
I would like to add in readme what can we do with c++ and why do we need it.

[2022-03-03 06:42] gaurangSaraswat-07 commented on #218
Done. Thank  you!

[2022-03-03 06:42] nikhil25803 commented on #184
Thank You.
Can I have your LinkedIn or Discord ID where I can DM you in case I have to ask for something from you and can keep you updated with my work?

[2022-03-03 06:44] nikhil25803 commented on #182
Hey @miraj0507 can I connect with you on LinkedIn so that I can ask something if needed and can keep you updated with my work?

[2022-03-03 06:54] Rashmisingh-18 commented on #250
I want to work on Sieve of Eratosthenes, please assign this issue to me @Lakhankumawat

[2022-03-03 06:55] n4i9kita commented on #250
@Rashmisingh-18 check the issues properly. Some else working on the same.

[2022-03-03 06:59] #250 closed

[2022-03-03 07:09] Mrudula-Kulkarni opened #269 "Reverse a Queue"
### Description

I will come up with an easy solution to reverse a queue , both using a recursion and without using it.
Please Assign (GSSoC'22).

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/Learn

[2022-03-03 07:11] Rashmisingh-18 commented on #175
I want to work on this issue.
Descriptive Approach: In a Sudoku Solver, which works as follows: suppose we have a Sudoku grid and we have to solve the number maze problem, Sudoku. Since, Sudoku is a 9 x 9 number grid, the whole grid are also divided into 3 x 3 boxes

There are some rules to solve the Sudoku.
* We have to use digits 1 to 9 for solving this problem.
* One digit cannot be repeated in

[2022-03-03 07:16] miraj0507 commented on #195
Hello , I will be more than happy to assign you but please work on one single algo and update the title.

[2022-03-03 07:17] miraj0507 commented on #195
You can work on infix to postfix and update it under the S-Stack folder , kindly do the changes I will assign you the same

[2022-03-03 07:19] VaishnaviMandloi commented on #195
@miraj0507 now is it right

[2022-03-03 07:20] miraj0507 commented on #195
Goood, wish you all the best go ahead .

[2022-03-03 07:26] Lakhankumawat commented on #239
@kalash2205 please maintain less commits at a time and do not make a mess beacuse then it will be difficult for mentors to review your PR

[2022-03-03 07:26] Lakhankumawat commented on #239
Hey @kalash2205  , make your issue a descriptive one so it is easy for us
mentors to get hold of your contribution and can guide you for further steps.
I would recommend you to go through this tutorial video of the project [here](https://youtu.be/MRXcoxDillk) , thanks.

[2022-03-03 07:26] miraj0507 commented on #239
Kindly update the title and let's be more specific , per issue, so just work on constructors this issue, you can add copy constructors etc etc. per issue be specific, kindly do the changes in the title

[2022-03-03 07:26] Lakhankumawat commented on #239
You need to follow particular guidelines for your README , please follow
these guidelines [click here](https://github.com/Lakhankumawat/LearnCPP#to-add-programs-using-stl-follow-same-approach-as--algorithms)
also you can see how your README should look like [see here](https://github.com/Lakhankumawat/LearnCPP/blob/main/S-SortingAlgorithms/README.md)
for more please go through these [here](https://

[2022-03-03 07:26] miraj0507 commented on #239
OOPs-Constructors

[2022-03-03 07:31] kalash2205 commented on #239
@Lakhankumawat i havent made any commits at the moment but i will keep that in mind

[2022-03-03 07:40] kalash2205 commented on #239
@Lakhankumawat i wanted to make a class in which i would include all the functions like contructor function, get, set, etc.

[2022-03-03 07:41] Chahat-M opened #271 "Top view of a binary tree"
### Description

I wish to add a new folder of View of a binary tree under T-Tree and add top view and bottom view cpp files. The new folder structure would look like this -
[code]
Please assign me this issue under GSSoC'22

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Co

[2022-03-03 08:32] salahashraf253 commented on #240
I have edit the description , can you check it now  ?

[2022-03-03 09:16] Lakhankumawat commented on #239
Delete fork and commit while maintaining a clean fork

[2022-03-03 09:16] Lakhankumawat commented on #239
Mention details in issue description not in comments

[2022-03-03 10:26] shreyasharma0201 opened #273 "add algorithm to count nodes at a particular level in a tree."
### Description

Add algorithm to count nodes at a particular in a tree.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-03 11:49] AmanSarraf opened #276 "OOP concept (Polymorphism)"
### Description

I want to add a brief explanation and sample code for explaining the complete polymorphism concept, under Gssoc'22.

### Domain

CPP

### Type of Contribution

Addition, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/

[2022-03-03 12:13] DlVYANSH commented on #6
@n4i9kita Yes ma'am i have sent a pr for the issue and it got reviewed. It got tag of next review needed i have updated the pr yesterday morning itself but it didn't got reviewed yet
.

[2022-03-03 12:17] kalash2205 commented on #239
sir i havent forked it yet

[2022-03-03 12:17] kalash2205 commented on #239
sure thing sir

[2022-03-03 12:18] kalash2205 commented on #239
@Lakhankumawat sir so right now i should on contructors and getters and setters right? anything else you would like to add or change

[2022-03-03 12:32] Purvak-10 commented on #228
I would like to work on this, please assign this to me.

[2022-03-03 12:47] MOUSAM-AGARWAL opened #278 "Add code for Tower of Hanoi"
### Description

Full code of Tower of Hanoi with Documentation and algorithm using Recursive Function.

### Domain

Data Structure

### Type of Contribution

Addition, Refactoring, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/

[2022-03-03 12:48] MOUSAM-AGARWAL commented on #278
Assing me the task under GSSOC22

[2022-03-03 12:59] ShruthiKartik commented on #257
I am GSSOC 2022 contributor. Please assign me this issue.

[2022-03-03 13:31] n4i9kita commented on #184
For reference - [here](https://github.com/Lakhankumawat/LearnCPP/blob/main/S-SortingAlgorithms/README.md)
And, when you will provide us with what you have written, we will review it word by word, and ask for changes as per need. So, be prepared mentally.

[2022-03-03 13:37] n4i9kita commented on #184
@nikhil25803 you have been asssigned your other issue. Finish it soon, and send a pr for that, and then work on this. If someone else comes then they would be allowed to work on it, otherwise.

[2022-03-03 13:37] miraj0507 commented on #232
I can assign you the same if you are able to do it in O(N) time, also kindly explain the problem statement, See more presentable it looks, the higher and faster your issues will get accepted.
so please update the title as Longest Increasing Subsequence - O(n)

[2022-03-03 13:37] Lakhankumawat commented on #184
Hey @nikhil25803  , You can only create one issue at a time . I would recommend you to go through this tutorial video of the project [here](https://youtu.be/MRXcoxDillk), thanks.

Don't worry you can reopen this issue again once you have opened PR for your existing issue

[2022-03-03 13:37] #184 closed

[2022-03-03 13:40] miraj0507 commented on #243
So kindly update the title as soon as possible, as Counting sort, I will be assigning you the issue.

[2022-03-03 13:45] miraj0507 commented on #264
I will allow you to do so, provided you explain LRU cache well, go for it, On the other side we will evaluate your code.

[2022-03-03 13:47] miraj0507 commented on #265
Kindly just work on a single question, as per the rules I cant allow you to do all of them in a single issue so please update the title and I will assign it to you.

[2022-03-03 13:49] miraj0507 commented on #271
kindly update the title as you can just work with one view, You may select which one, as soon as you update I will give you the access

[2022-03-03 13:50] miraj0507 commented on #276
make sure you do it under O-oops folder

[2022-03-03 13:51] miraj0507 commented on #278
full code with explanation, and also use visuals to explain the recursion step.

[2022-03-03 13:54] miraj0507 commented on #209
Good job, hoping for a great output on the PR side, good presentation

[2022-03-03 13:55] Lakhankumawat commented on #262
Hey @sejalc22  thanks for your interest and suggestion for LearnCPP , but we do not welcome small , medium or large size projects written in C++ , all we want from contributors is Algorithms , Data Structures and General Problem Statements , Your idea is nice though but we won't be able to proceed with you at the moment , thanks .

[2022-03-03 13:55] aikanshi-1234 commented on #209
Thank You @miraj0507

[2022-03-03 13:56] Lakhankumawat commented on #262
I would recommend you to go through this tutorial video of the project [here](https://youtu.be/MRXcoxDillk), thanks.

[2022-03-03 13:56] #262 closed

[2022-03-03 13:57] miraj0507 commented on #208
I have allowed one of your issues, you can proceed with this one once the other is done. for now we need to keep this at hold.

[2022-03-03 14:08] Chahat-M commented on #271
Done.

[2022-03-03 14:23] Rashmmiii opened #280 "STL-Algorithms-Comparator functions"
### Description

In the STL-Algorithm folder ,I found no code is present in the compareFunctionUsingBuiltInSort file  .
As comparator functions are very helpful in performing selective sorting on the basis of our priority , So I would like to contribute  in this folder and update it with the use of  comparator functions .

### Domain

Standard Template Library

### Type of Contribution

Addition,

[2022-03-03 14:23] Lakhankumawat commented on #241
Only General Problem Statements are allowed in the repo , please describe your issue or it will be closed .
Linked List is already implemented in the REPO , come up with something new and we will be happy to accept your issue .

[2022-03-03 14:36] Anuragkr07 commented on #265
okay I have made the changes

[2022-03-03 14:44] VaibhavMogha commented on #150
Hey, @miraj0507 @iamgunjan @Lakhankumawat Please assign this issue to me.
Thank you!

[2022-03-03 14:52] aniketsingh10 opened #285 "Method Overriding and Method Overloading in C++"
### Description

Sample program to understand method overriding and overloading in cpp.

Program to implement the Method overloading with a different number of arguments and different return types.
implementing it with various parameter on same function.

sample could be like this,

#include <iostream>
using namespace std;
class addition{
    public:
    int addMethod(int x, int y){
         retur

[2022-03-03 15:01] adi2002vicky opened #288 "i want to add Morris_Traversal in T-TreeTraversal"
### Description

The Morris algorithm for inorder traversal allows you to traverse a tree with O(n) time and O(1) space complexity.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.gith

[2022-03-03 15:07] RakshakSharan opened #289 "Sieve of Eratosthenes"
### Description

Sieve of Eratosthenes and it's application in solving some types of problems
![gssoc](https://user-images.githubusercontent.com/95519167/156591226-751455ba-a4ae-4ea8-8807-8305fcdff612.jpg)

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [x] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [

[2022-03-03 15:18] Ishika2 opened #290 "Roman to Integer"
### Description

Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

Symbol       Value
I             1
V             5
X             10
L             50
C             100
D             500
M             1000
For example, 2 is written as II in Roman numeral, just two one's added together. 12 is written as XII, which is simply X + II. The number 27 is written as XXVI

[2022-03-03 15:23] Ishika2 commented on #290
Hey @Lakhankumawat @officSatyam @n4i9kita @ujjwalban ,
I want to implement the data structure - Hash Table by solving the above question. So please assign this issue to me.
I am a GSSoC'22 contributor, so please add the required labels too, I would be very thankful to you.
Thanks and Regards
Ishika Punchariya

[2022-03-03 15:28] Ishika2 opened #291 "Integer to Roman"
### Description

Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

Symbol       Value
I             1
V             5
X             10
L             50
C             100
D             500
M             1000
For example, 2 is written as II in Roman numeral, just two one's added together. 12 is written as XII, which is simply X + II. The number 27 is written as XXVI

[2022-03-03 15:29] Ishika2 commented on #291
Hey @Lakhankumawat @officSatyam @n4i9kita @ujjwalban @miraj0507 ,
I want to implement the data structure - Hash Table by solving the above question. So please assign this issue to me.
I am a GSSoC'22 contributor, so please add the required labels too, I would be very thankful to you.
Thanks and Regards
Ishika Punchariya

[2022-03-03 15:40] chandrikap27 opened #292 "Swap kth element"

[2022-03-03 15:51] Sakshi-209 commented on #292
hey!
please assigned me this issue under gssoc'22
thanks
sakshi

[2022-03-03 15:53] sirilalithaadapa opened #293 "Knuth-Morris pattern matching"
### Description

Knuth-Morris pattern matching

- Algorithm
- code

### Domain

CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-03 15:55] Sakshi-209 commented on #162
hey!
please assigned me this issue under gssoc'22
thanks
sakshi

[2022-03-03 15:56] Sakshi-209 commented on #113
hey!
please assigned me this issue under gssoc'22
thanks
sakshi

[2022-03-03 15:57] Mitternachtsmond opened #294 "1D Peak in an array"
### Description

I would like to add an algorithm to find 1D peak in an array.
I would add it in A-Array folder

1D peak in an array is element which is greater than both of its adjacent elements and in case of corner elements it is greater than the only adjacent element.

@Lucifer4255 @ujjwalban Please assign me this issue

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Co

[2022-03-03 16:01] officSatyam opened #295 "Implement Hash table to Convert Integer to Roman"

[2022-03-03 16:02] #295 closed

[2022-03-03 16:16] Lakhankumawat commented on #290
Hi @Ishika2  thanks for your contribution but problem statements are not allowed in the REPO , only generalised problem statements are allowed like , Travelling Salesman Problem , N-Queen Problem and similar problems

[2022-03-03 16:16] Lakhankumawat commented on #290
Hey @Ishika2  , You can only work on one issue at a time . I would recommend you to go through this tutorial video of the project [here](https://youtu.be/MRXcoxDillk), thanks.

[2022-03-03 16:16] #290 closed

[2022-03-03 16:29] RajwardhanRana opened #297 "Tic Tac Toe in c++"
### Description

I will write the code for computer vs human Tic Tac Toe game in simple c++

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-03 16:29] RajwardhanRana commented on #297
please assign me this task

[2022-03-03 16:30] Anuragkr07 commented on #265
I have added a description

[2022-03-03 16:48] chandrikap27 opened #298 "The Don Thief"
The Don thief wants to loot money from a society having n houses in a single line. He follows some rules while looting the houses. According to the rule he will never loot two consecutive houses. He also wants to maximize the loot at the same time.He is very smart and knows which house has what amount of money but is unable to come up with the optimal looting strategy. He asks for help to find max

[2022-03-03 17:11] rashita79 opened #299 "Title Daily coding challenges"
### Description

we could also have some sections like
1. 20 DAYS OF ARRAY
2. 20 DAYS OF STRINGS
3. 25 DAYS OF DP
4. 5 DAYS OF BIT MANIPULATION
this would be something kind of topic wise practice for the user as a test that would be having questions for interview preparation and this would help the user also in revision of the topic.

### Domain

Other

### Type of Contribution

Addition

### Code

[2022-03-03 17:13] rashita79 opened #300 "Longest common prefix"
### Description

strings question gssoc 2022
i want to add this too

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-03 17:14] rashita79 commented on #294
I am also ready to get this task

[2022-03-03 17:21] horosahil opened #301 "Add code for AVL tree"
### Description

Description
AVL tree is a self-balancing Binary Search Tree (BST) where the difference between heights of left and right subtrees cannot be more than one for all nodes.
Time complexity:
insert : O(logn)
delete : O(logn)
search : O(logn)

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/

[2022-03-03 17:34] Rishi838 commented on #232
yes sir i'll do it in o(n) time with proper comments that will explain the  logic of the program

[2022-03-03 17:35] Purvak-10 opened #302 "Binary Tree details"
### Description

I would like to add an algorithm to find
 1. Number of leaf nodes in the binary tree
 2. Number of Internal nodes in the binary tree
 3. Total number of nodes in the binary tree
 4. Height of the binary tree

@Lucifer4255 @ujjwalban Please assign me this issue

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guideli

[2022-03-03 18:09] adi2002vicky commented on #288
please check pr sir @miraj0507

[2022-03-03 18:12] Anjali-Chaudhary3 opened #303 "Implementing Modularity"
### Description

explaining the term modularity, its implementation and types .
call by value and call by reference.

Give me a chance to contribute under GSSOC'22

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawa

[2022-03-03 18:12] adi2002vicky commented on #288
i have done my work
![Uploading Screenshot 2022-03-03 234104.png…]()

[2022-03-03 18:19] Anjali-Chaudhary3 commented on #6
@n4i9kita can I add a readme file for binary search ?
I have started my open source journey under gssoc'22 ( so quite confused )

[2022-03-03 18:31] Avik-creator opened #305 "Add README.md File in Brute Force"
### Description

I want to add README.md file in Brute Force Approach in C++. So I would to change it and improve it.
Please Assign this issue to me.
@ni

### Domain

README

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/Learn

[2022-03-03 18:54] arzitmahajan commented on #273
Hey Please Assign me this work (GSSOC 2022)

[2022-03-03 19:11] arzitmahajan opened #306 "Level Order Traversal"
### Description

Code of Printing Node's data of binary tree at each level (O(N) Time complexity and O(N) Space Complexity

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/C

[2022-03-03 19:12] arzitmahajan commented on #306
Level Order Traversal

[2022-03-03 19:32] riyasingh240601 opened #307 "Lexicographical rank of a string"
### Description

Finding the rank of the string among all its permutations sorted lexicographically by creating an auxiliary array .

Time complexity: O(n)

Please assign me the issue under GSSOC'22.
### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of

[2022-03-03 19:53] SoumyoNathTripathy opened #308 "Title Reverse LinkedList (without using extra space)"
### Description

Given the head of a singly linked list and two integers left and right where left <= right, reverse the nodes of the list from position left to position right, and return the reversed list.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.m

[2022-03-03 19:56] riyasingh240601 opened #309 "Bisection method"
### Description

This method is based on INTERMEDIATE MEAN  THEOREM .

Given a function f(x) on floating number x and two numbers ‘a’ and ‘b’ such that f(a)*f(b) < 0 and f(x) is continuous in [a, b].Let f(x) represents algebraic or transcendental equation then find the root of function in interval [a, b].

Time complexity: depends upon the function f(x).

Please assign me the issue under GSSOC'22.

[2022-03-03 20:00] Mitternachtsmond commented on #294
@rashita79 Could you please choose another issue.
It's a small algorithm which can be done by a single perosn

[2022-03-03 20:37] ashmeet-chhabra opened #312 "OOP concept - Selective Encapsulation (friend keyword)"
### Description

I would demonstrate how to allow selective encapsulation using the 'friend' keyword. I would be emphasizing by providing different implementations with and without using the keyword and drawing out a comparison between the designs.

Please assign me this issue.

Thanks,
GSSoC 22 contributor

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [

[2022-03-04 03:48] sirilalithaadapa commented on #293
/assign

[2022-03-04 03:49] rashita79 commented on #300
@Lakhankumawat I can do this using 5 approch , assign me

[2022-03-04 04:59] n4i9kita commented on #6
@Anjali-Chaudhary3, You will have to create an issue first. Mention the plan that you will follow, and then we will decide to assign you the issue or not.
 See [this](https://github.com/Lakhankumawat/LearnCPP/blob/main/S-SortingAlgorithms/README.md) for reference.

- We would accept only high-quality readme's written in proper English.
- I think we don't need to talk about plagiarism.
- You can ad

[2022-03-04 05:04] Dharmesh177 commented on #302
I want to work on this issue. please assign it to me

[2022-03-04 05:09] Purvak-10 commented on #302
Umm… Actually I came first bro

[2022-03-04 05:10] Purvak-10 commented on #302
Umm… Actually I came first bro

[2022-03-04 05:19] n4i9kita commented on #88
@tanya-gupta25, what all approaches?
Please mention here too.

[2022-03-04 05:25] mehakk-Bhatia opened #317 "Left rotate an array by one"
### Description

Hello !
I am GSSOC '22 contributor.
In this problem we need to left  rotate the array by 1 place.
for example:
I/P :  {10 , 20 , 30 , 40}
O/P:  {20 , 30 , 40 , 10}

### Domain

Data Structure

### Type of Contribution

Addition, Enhancement

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of

[2022-03-04 05:32] Arpiiitaaa opened #318 "Calculator in C++"
I want to add a calculator built using C++

[2022-03-04 05:33] n4i9kita commented on #90
What are the updates, @shaaban500 ?

[2022-03-04 07:01] Anjali-Chaudhary3 opened #319 "Readme for Binary Search"
### Description

Want to add readme file for already existing Binary search at S-SearchingAlgorithms/README.md path.

Points to cover in it:
1. Approach in simple language
2.Discussing its complexity.
3.Linear search Vs Binary search
4.When and Where to apply Binary search

@n4i9kita  @Lakhankumawat

### Domain

Readme and Algorithm

### Type of Contribution

Enhancement

### Code of Conduct

- [X

[2022-03-04 07:23] Abd-ELrahmanHamza opened #320 "Longest Common Subsequence"
### Description

Given two strings text1 and text2, return the length of their longest common subsequence. If there is no common subsequence, return 0.

A subsequence of a string is a new string generated from the original string with some characters (can be none) deleted without changing the relative order of the remaining characters.

For example, "ace" is a subsequence of "abcde".
A common subs

[2022-03-04 07:23] BabyElias opened #321 "Knuth–Morris–Pratt Algorithm"
### Description

I would like to add KMP Algorithm to the folder String Algorithms.It is the most optimal pattern searching algorithm used in string-matching. While most pattern searching algorithms have a time complexity of O(n^2),this performs the task in O(n).

I am a GSSoC Contributor.
Please assign me this issue.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

[2022-03-04 07:50] Anjali-Chaudhary3 commented on #6
Yes ,@n4i9kita  can you plz check my first issue I have made for adding the readme for binary search

[2022-03-04 07:56] #303 closed

[2022-03-04 08:03] shaaban500 commented on #90
Soon : )
It will be done today or at most tomorrow

[2022-03-04 08:43] geethika1129 opened #322 "Maximum Product Subarray Problem"
### Description

In the given integer array, find the subarray that has the maximum product of its elements. We should find the maximum product of elements among all possible subarrays of that integer array

For example
Input  : -1 , 3 , 2 , -4
Output : 6

I am a GSSOC'22 participant and please assign it to me .

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

[2022-03-04 08:53] MRK04 opened #323 "Maximum sum of subarray"
### Description

In this problem I'll find the sum subarray within 1D array that has maximum sum.
We can solve the approach by three ways:
1. Brute force approach : O(n^3)
2. Cumulative Sum approach : O(n^2)
3. Kadane's Algorithm : O(n)

I would like to add this issue to the folder Array.

I am a GSSoC Contributor.
Please assign me this issue.

### Domain

Data Structure

### Type of Contribution

[2022-03-04 08:55] #246 closed

[2022-03-04 09:23] Lakhankumawat commented on #220
Trapping Rain Water Problem #110 already assigned ,  Duplicate , i  would suggest you to come up with something new thanks

[2022-03-04 09:23] #220 closed

[2022-03-04 09:24] Lakhankumawat commented on #220
Also from next time please try to describe your Issue in detail.
Make your issue a descriptive one so it is easy for us
mentors to get hold of your contribution and can guide you for further steps.
I would recommend you to go through this tutorial video of the project [here](https://youtu.be/MRXcoxDillk) , thanks.

[2022-03-04 09:32] deekshhaa commented on #318
i want to to this, please assign it to me @Arpiiitaaa

[2022-03-04 09:38] gp919934 opened #324 "The Celebrity Problem"
### Description

There are N people at the party out of which one of them is a celebrity. Celebrity does not any of the remaining N-1 people, but all of them know Celebrity. You are given a matrix of who knows who. find the celebrity.
I will provide enough explanation of this question using both brute-force and its optimized approach.

### Domain

Algorithm

### Type of Contribution

Addition

###

[2022-03-04 09:40] gp919934 commented on #220
Hello sir can you check issue #324

On Fri, 4 Mar, 2022, 2:55 pm LakhanKumawat ᵖ⁺, ***@***.***>
wrote:

[2022-03-04 09:41] gaurijoshi22 commented on #294
Can I contribute to this project??

[2022-03-04 09:51] hellyshah11 opened #326 "Number of Subsequences of string B in string A (under GSSOC 22)"
### Description

We will be given two strings. We have to find the number of times the second string occurs in the first string, be it continuous or discontinuous.
Example 1::
 Input : String A: abcde
            String B: abc
 Output: 1
Example 2::
 Input : String A: abcaeb
            String B: ab
 Output: 3

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follo

[2022-03-04 09:54] hellyshah11 commented on #326
I want to work on this issue under GSSOC 22.

[2022-03-04 09:58] deekshhaa opened #327 "valid Anagram"
### Description

you are given two words and you need to find if the first word is anagram of other. Output will be yes if it is anagram, and no if not.

anagram of word is a word that is formed by jumbling the letters of word.

### Domain

Competitive Programming

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawa

[2022-03-04 10:04] Abhilasha-Jairath commented on #301
I would like to work on this issue under GSSOC'22. Can you assign this to me?

[2022-03-04 10:04] Abhilasha-Jairath commented on #278
I would like to work on this issue under GSSOC'22. Can you assign this to me?

[2022-03-04 10:04] Abhilasha-Jairath commented on #276
I would like to work on this issue under GSSOC'22. Can you assign this to me?

[2022-03-04 10:04] Abhilasha-Jairath commented on #271
I would like to work on this issue under GSSOC'22. Can you assign this to me?

[2022-03-04 10:05] Abhilasha-Jairath commented on #267
I would like to work on this issue under GSSOC'22. Can you assign this to me?

[2022-03-04 10:05] Abhilasha-Jairath commented on #249
I would like to work on this issue under GSSOC'22. Can you assign this to me?

[2022-03-04 10:05] Abhilasha-Jairath commented on #231
I would like to work on this issue under GSSOC'22. Can you assign this to me?

[2022-03-04 10:06] Abhilasha-Jairath commented on #227
I would like to work on this issue under GSSOC'22. Can you assign this to me?

[2022-03-04 10:06] Abhilasha-Jairath commented on #225
https://github.com/Lakhankumawat/LearnCPP/issues/227

[2022-03-04 10:06] Abhilasha-Jairath commented on #225
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:07] Abhilasha-Jairath commented on #223
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:07] Abhilasha-Jairath commented on #217
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:07] Abhilasha-Jairath commented on #201
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:08] Abhilasha-Jairath commented on #170
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:08] Abhilasha-Jairath commented on #148
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:11] anjaligautam13023 opened #328 "implementation of threaded binary tree"
### Description

 A binary tree is made threaded by making all child pointers that would normally be NULL point to other the node.
There are two types of threaded binary tree
1-one way threaded binary tree

<img width="245" alt="threadedBT" src="https://user-images.githubusercontent.com/91557659/156743754-533db134-8063-48ac-8127-10fb16d605ea.png">

2-two way threaded binary tree
![download (1)](ht

[2022-03-04 10:12] anjaligautam13023 commented on #328
please assign this issue to me

[2022-03-04 11:25] #200 closed

[2022-03-04 11:25] AastikSharma05 opened #330 "Equal Sum Partition Problem"
### Description

I want to add popular data structure and algorithms problem named :"Equal Sum Partition" which is a very famous problem and can enhance one's problem solving skill.

The problem is to tell if a given array can be divided into 2 subsets such that sum of both the subsets is same.

For Example:
Input: 1 5 11 5
Output: True (as there can be two subsets (1,5,5) and (11) such that sum o

[2022-03-04 11:25] AastikSharma05 commented on #330
I would like to work on it under Gssoc22 @iamgunjan @miraj0507

[2022-03-04 11:46] gaurijoshi22 opened #332 "Lcm and gcd calculator"
### Description

Description: we can add the feature of gcd and lcm calculation in calculator using cpp. This uses the method of Euclid's algorithm.  I am gssoc'22 contributor.

Please assign me this task @la

### Domain

ALGORITHM

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md)

[2022-03-04 13:02] tanktejas opened #333 "Maximum non-Overlapping intervals"
####### Problem  #######

We are given n intervals and we have to find maximum non-overlapping interval by removing some interval (possibly 0 or n).
we have to write algorithm in efficient way such that we'll get our answer

let's take an example we have 5 such intervals as shown in the below image :

![WhatsApp Image 2022-03-08 at 5 50 36 PM](https://user-images.githubusercontent.com/77108255/157

[2022-03-04 13:35] Lakhankumawat opened #334 "Title"
### Description

Description

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-04 13:36] vinaya563 opened #335 "Paranthesis Checker using Stacks"
### Description

Using a stack to balance parenthesis will help you balance different types of grouping operators such as[],{}and()and verify that they are correctly nested.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://gi

[2022-03-04 13:52] Lakhankumawat opened #336 "Title"
### Description

Description

### Domain

Competitive Programming

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-04 13:55] ronitrangwani commented on #227
I would like to work on this issue under GSSOC'22. Can you assign this to me?

[2022-03-04 13:56] AnishaRoy1 commented on #227
I have already been assigned this issue.

[2022-03-04 14:14] Lakhankumawat opened #339 "Title"
### Description

Description

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-04 14:16] Suvraneel opened #340 "Title"
### Description

Description test

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-04 14:22] Suvraneel opened #341 "Title"
### Description

Descriptiondfsgdfgb

### Domain

Algorithm

### Type of Contribution

Enhancement, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-04 14:23] Lakhankumawat opened #342 "Title"
### Description

Description

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github/CODE_OF_CONDUCT.md) of LearnCPP.

[2022-03-04 14:28] Suvraneel commented on #341
/assign

[2022-03-04 15:32] DlVYANSH commented on #327
/assign

[2022-03-04 15:48] DlVYANSH opened #343 "Palindrome linked list"
### Description

Program will check if the given linked list is palindrome or not.

my approach will be to find the middle of the node by fast and slow pointer (two pointer technique) and then putting all the elements after the middle element into to the stack and then comparing the elements of the linked list with the top element of the stack and then poping that element.

I have submitted the pr

[2022-03-04 15:55] DlVYANSH commented on #343
/assign

[2022-03-04 16:07] #341 closed

[2022-03-04 16:10] Garvit-Gandhi opened #344 "To store student data using classes"
### Description

I can make a program showing how to make a class and its data members to store student data such as name, roll number, section. This program is a good example for introduction to classes and object oriented programming.

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/

[2022-03-04 16:39] MRK04 commented on #323
/assign

[2022-03-04 17:13] shivam-s16 opened #346 "Check whether number is power of n"
### Description

I want to put this into mathematical part that whether a given number m is power of other number n . If no the lowest number then m which is power of n.

let m = 32 and n= 3 then it will result in no and 27
and if m = 64 and n= 4 then it result in yes.

### Domain

Competitive Programming

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidel

[2022-03-04 17:27] PeritusDeveloper commented on #243
/assign

[2022-03-04 17:34] Mitternachtsmond commented on #294
/assign

[2022-03-04 17:35] ravencode69 opened #347 "Find All Anagrams in a String"
### Description

Example:
Input: s = "cbaebabacd", p = "abc"
Output: [0,6]
Explanation:
The substring with start index = 0 is "cba", which is an anagram of "abc".
The substring with start index = 6 is "bac", which is an anagram of "abc".

An interesting question which uses sliding window technique.

### Domain

Algorithm

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Con

[2022-03-04 17:38] Bhavneet345 commented on #317
I want to contribute to this task, kindly assign me as soon as possible

[2022-03-04 17:39] Anuragkr07 opened #348 "Check if a string is subsequence of another string"
### Description

Problem:
Given Strings A and B. We have to find if string B is a subsequence of String A.

Example 1:

Input :
A: abcde
B: ace

Output:
True

Example 1:

Input :
A: abcde
B: aec

Output:
False

### Domain

CPP

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Co

[2022-03-04 17:39] Bhavneet345 commented on #308
I want to contribute to this task, kindly assign me as soon as possible

[2022-03-04 17:40] Anuragkr07 commented on #348
Please allow me to work on this issue as a part of GSSoc'22

[2022-03-04 17:43] Bhavneet345 commented on #344
I want to contribute to this issue, kindly assign me as soon as possible, please.

[2022-03-04 17:46] Bhavneet345 commented on #161
Please, assign me this issue I can provide a solution to this problem by solving it with an Object-Oriented Programming approach.

[2022-03-04 17:47] Anuragkr07 opened #349 "Maximum sum of elements of an array such that no 3 elements are consecutive"
### Description

We will be given an array.
We need to find the maximum sum of the elements of the array such that no three elements are selected consecuctively.

Example:
Input:
a[]={ 100,1000,100,1000,1 }

Output: 2101

This question will be solved by using dynamic programming approach and is a very important question from geeks for geeks practice section.

### Domain

CPP

### Type of Contribut

[2022-03-04 18:08] Bhavneet345 opened #350 "Coin Tower Problem"
### Description

Hii there, Hope you are doing well

I want to contribute to the LearnCPP project by providing a solution to the problem named Coin Tower.
I am a GSSOC'22 contributor and I would like to contribute please assign this to me @ujjwalban. Thank you.

GSSOC'22
Thanks regards 🤞

### Domain

Competitive Programming

### Type of Contribution

Addition, Enhancement

### Code of Conduct

- [

[2022-03-04 18:08] Bhavneet345 commented on #350
I want to contribute to this issue, kindly assign me as soon as possible

[2022-03-04 18:10] Bhushan8177 opened #351 "Reverse a Linked List"
### Description

For this problem, we will be given a linked list
Our task is to reverse the given the linked list

For example -

![image](https://user-images.githubusercontent.com/79825101/156818643-44db837f-2d50-47f7-a01c-81e5a5279ca5.png)

This question can be solved by traversing the linked list once and hence
time complexity = O(n)
space complexity = O(1)

### Domain

CPP

### Type of Contri

[2022-03-04 18:14] Arun9739 opened #352 "Linked List Implementation of Stack"
### Description

In this project i will create all the basic operations of a Stack using linked list implementation. I create a meta data structure called 'head' which contains the brief information about the Stack. Then we create all other remaining nodes. This project does not use Stack STL. All the functions will be included.

### Domain

Data Structure

### Type of Contribution

Addition

###

[2022-03-04 18:17] Bhavneet345 opened #353 "Diameter of a Binary Tree"
### Description

Problem Statement - You are given a Binary Tree. You are supposed to return the length of the diameter of the tree.
The diameter of a binary tree is the length of the longest path between any two end nodes in a tree.

### Domain

Data Structure

### Type of Contribution

Addition

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnC

[2022-03-04 18:17] tanya-gupta25 commented on #88
@n4i9kita 2 pointer approach & one another method using counter.

[2022-03-04 18:18] Bhavneet345 commented on #353
@ujjwalban @n4i9kita please assign me this issue so that I can provide an optimised solution for finding the diameter of the Binary Tree.

[2022-03-04 18:19] Arun9739 commented on #352
I want to contribute to this issue. Please assign me this one.

[2022-03-04 18:27] Bhushan8177 commented on #351
/assign

[2022-03-04 18:30] shivanithorve01 commented on #162
Please assign this issue to me @iamgunjan @n4i9kita @miraj0507 . I am done with my previous PR.

[2022-03-04 18:36] Bhavneet345 opened #354 "Maximum Path Sum Between Two Leaves"
### Description

We are given a non-empty binary tree where each node has a non-negative integer value. We need to return the maximum possible sum of path between any two leaves of the given tree.
The path is also inclusive of the leaf nodes and the maximum path sum may or may not go through the root of the given tree.
If there is only one leaf node in the tree, then we have to return -1.

INPUT T

[2022-03-04 18:43] Ishika2 commented on #290
Oh okay, sorry for that.

[2022-03-04 18:57] miraj0507 commented on #352
Comment /assign

[2022-03-04 19:36] shivanithorve01 commented on #162
/assign

[2022-03-04 19:37] shivanithorve01 commented on #48
/assign

[2022-03-04 19:38] shivanithorve01 commented on #164
/assign

[2022-03-04 23:18] nirUpma52 opened #356 "Merge two sorted linked lists"
### Description

Description :
L-Linked list
Write a SortedMerge() function that takes two lists, each of which is sorted in increasing order, and merges the two together into one list which is in increasing order. SortedMerge() should return the new list. The new list should be made by splicing together the nodes of the first two lists.

For example if the first linked list a is 5->10->15 and the

[2022-03-05 02:47] andrew9078 commented on #356
Hi! I'm interested on working on this issue, can you assign it to me?

[2022-03-05 02:55] geethika1129 commented on #322
/assign

[2022-03-05 03:07] Anuragkr07 commented on #349
/assign

[2022-03-05 03:08] Anuragkr07 commented on #348
/assign

[2022-03-05 04:10] arsh-opsfuse commented on #344
I want to contribute to this issue, kindly assign me as soon as possible, please.

[2022-03-05 04:10] Arun9739 commented on #352
/assign

[2022-03-05 04:11] arshkhatwani commented on #344
I want to contribute to this issue, kindly assign me as soon as possible, please.

[2022-03-05 04:12] nirUpma52 commented on #356
/assign

[2022-03-05 04:14] arshkhatwani commented on #354
I want to contribute to this issue, kindly assign me as soon as possible, please.

[2022-03-05 04:15] arshkhatwani commented on #320
I want to contribute to this issue, kindly assign me as soon as possible, please.

[2022-03-05 04:17] arshkhatwani commented on #306
I want to contribute to this issue as part of GSSOC 22, kindly assign me as soon as possible, please.

[2022-03-05 04:43] Bhavneet345 commented on #354
/assign

[2022-03-05 04:46] Bhavneet345 commented on #353
/assign

[2022-03-05 04:47] Bhavneet345 commented on #350
/assign

[2022-03-05 04:49] SiddhantPawar03 opened #358 "Pascal's Triangle"
### Description

Pascal's triangle is an array of binomial coefficients. The numbers in Pascals triangle are placed in such a way that each number is the sum of two numbers just above the number. Pascal's triangle is used widely in probability theory, combinatorics, and algebra.

The value of n th entry in line number line is C(line, n). The value can be calculated using following formula:
C(line,

[2022-03-05 04:52] arshkhatwani commented on #320
/assign

[2022-03-05 04:55] arshkhatwani commented on #306
\assign

[2022-03-05 04:56] arshkhatwani commented on #306
/assign

[2022-03-05 04:59] Bhavneet345 opened #359 "Insertion Sort in Linked List"
### Description

I want to contribute to the LearnCPP project by implementing Insertion Sort Algorithm using Linked List Data Structure.
For Example -
I/P - 4 2 1 3 -1 (-1 indicates the end of the Linked List)
O/P - 1 2 3 4
I am a participant at GSSOC'22.
@Lakhankumawat Please assign me this problem as I really want to work on this issue.

### Domain

Algorithm

### Type of Contribution

Addition

[2022-03-05 04:59] Bhavneet345 commented on #359
I would like to work on it under Gssoc22 @iamgunjan @miraj0507, kindly assign me this issue.

[2022-03-05 05:02] Bhavneet345 commented on #317
I would like to work on it under Gssoc22 @iamgunjan @miraj0507

[2022-03-05 05:04] arzitmahajan opened #360 "First negative integer in every window of size K"
### Description

Description

Finding first negative integer in an array using queue and sliding window approach

### Domain

Competitive Programming

### Type of Contribution

Enhancement

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/Lakhankumawat/LearnCPP/blob/main/Contributing.md) & [Code of conduct](https://github.com/Lakhankumawat/LearnCPP/blob/main/.github

[2022-03-05 05:04] arzitmahajan commented on #360
/assign

[2022-03-05 05:05] SiddhantPawar03 opened #361 "Dijkstra’s Algorithm"
### Description

Description:
 It is an algorithm for finding the shortest paths between nodes in a graph.
Dijkstra's Algorithm works on the basis that any subpath Y -> Z of the shortest path X -> Z between vertices X and Z is also the shortest path between vertices Y and Z.
Djikstra used this property in the opposite direction. The algorithm uses a greedy approach in the sense that we find the ne

[2022-03-05 05:05] arzitmahajan commented on #360
/assign

[2022-03-05 05:06] Bhavneet345 commented on #232
I would like to work on it under Gssoc22 @iamgunjan @miraj0507, kindly assign me this issue as I have worked on this problem before and can solve it in O(N) time.

[2022-03-05 05:07] arzitmahajan commented on #361
bro use "/assign" otherwise someone else will get your question

[2022-03-05 05:11] SiddhantPawar03 commented on #361
/assign

[2022-03-05 05:13] SiddhantPawar03 commented on #358
/assign

[2022-03-05 05:14] Bhavneet345 opened #362 "Crossword Solver Using BackTracking"
### Description

The Problem statement is we would be given a 10 X 10 matrix as a crossword board and a vector of strings of the words that we need to fill in the crossword board but we have to solve the problem using the Backtracking approach.

For Example -
Input -
CROSSWORD BOARD -
+-++++++++
+-++-+++++
+-------++
+-++-+++++
+-++-+++++
+-++-+++++
++++-+++++
++++-+++++
++++++++++
----------
Vect

[2022-03-05 05:16] Bhavneet345 commented on #362
I would like to work on it under Gssoc22 @Lakhankumawat @iamgunjan @miraj0507, kindly assign me this issue.

[2022-03-05 05:19] ravencode69 opened #363 "Maximum Product subarray"
### Description

Given an integer array nums, find a contiguous non-empty subarray within the array that has the largest product, and return the product.

The test cases are generated so that the answer will fit in a 32-bit integer.

A subarray is a contiguous subsequence of the array.

**Input: nums = [2,3,-2,4]
Output: 6
Explanation: [2,3] has the largest product 6.**

### Domain

Data Structure